<template>
    <form @submit.prevent="sendForm" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form-style mb-20">
                    <input v-model="form.name"
                           class="form-control"
                           name="name"
                           placeholder="Nombre completo"
                           type="text">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form-style mb-20">
                    <input v-model="form.email"
                           class="form-control"
                           name="email"
                           placeholder="Correo Electrónico"
                           type="email">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="contact-form-style mb-20">
                    <input v-model="form.subject"
                           class="form-control col-md-4"
                           name="subject"
                           placeholder="Asunto"
                           type="text">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="contact-form-style">
                    <textarea v-model="form.message"
                              class="form-control"
                              name="message"
                              placeholder="Mensaje"
                    ></textarea>
                    <button class="submit" type="submit">Enviar</button>
                </div>
            </div>
        </div>


        <br>

        <p class="form-messege">¡Te responderemos lo mas pronto posible!</p>


    </form>

</template>

<script>
    export default {
        name: "contact",
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    subject: '',
                    message: '',
                }
            }
        },
        methods: {
            sendForm() {
                this.loading = true;


                axios.post('api/contact/message',
                    {
                        name: this.form.name,
                        email: this.form.email,
                        subject: this.form.subject,
                        message: this.form.message,
                    })

                    .then(response => {

                        response = response.data.success;

                        alert('ok');


                    })
                    .catch(error => console.log(error));
            }

        }
    }
</script>

<style scoped>

</style>
