<template>
    <div class="table-wrapper">

        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-2">Cobro <b>extras</b></h2>

                    <div class="search-box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input
                            v-model="searchText"
                            v-on:keyup="search()"
                            type="text"
                            class="form-control"
                            placeholder="Buscar">
                    </div>
                </div>
            </div>
        </div>

        <SortedTable class="table table-striped table-hover" :values="data">
            <thead>
            <tr>
                <th scope="col">
                    <SortLink name="group">Grupo</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="commission_price">Precio de comisión</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="shipping_price">Precio de envió</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="status">Estatus</SortLink>
                </th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody slot="body" slot-scope="sort">
            <tr v-for="row in sort.values" :key="row.id">

                <td>{{ row.group }}</td>
                <td>{{ row.commission_price }} %</td>
                <td>{{ row.shipping_price | currency }}</td>
                <td>{{ row.status ? 'Activo': 'Inactiva' }}</td>

                <td>

                    <a href="#"
                       @click.prevent="update(row.id,row.group,row.commission_price ,row.shipping_price,row.status)"
                       class="settings"
                       title="settings"
                       data-toggle="tooltip">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>

                    <a href="#"
                       @click.prevent="getSearchKeyword(row.group)"
                       class="settings"
                       title="add-filter-search"
                       data-toggle="modal" data-target="#helper-search-modal"
                    >
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </SortedTable>


        <div class="clearfix">

            <div class="hint-text">Mostrando
                <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
            </div>


            <ul class="pagination">

                <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page - 1)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li v-for="page in pagesNumber"
                    v-bind:class="[ page === isActived ?'active' : '' ]"
                    class="page-item">
                    <a href="#"
                       @click.prevent="changePage(page)"
                       class="page-link">{{ page }}</a>
                </li>


                <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page + 1)"
                       class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="helper-search-modal" tabindex="-1" role="dialog"
             aria-labelledby="mostSold-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Etiquetas para busquedas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Grupo: <strong>{{ helperSearch.group }}</strong></h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-5">

                                <div class="form-group">
                                    <input v-model="helperSearch.newKeyword"
                                           type="text"
                                           class="form-control"
                                           placeholder="Palabra clave">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <button class="btn btn-primary" @click="addSearchKeyword(helperSearch.group)">
                                        Agregar
                                    </button>
                                </div>


                            </div>


                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-12">
                                <SortedTable class="table table-striped table-hover" :values="helperSearch.keywords">
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <SortLink name="group">Palabras clave</SortLink>
                                        </th>
                                        <th>Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody slot="body" slot-scope="sort">
                                    <tr v-for="row in sort.values" :key="row.id">

                                        <td>{{ row.keyword }}</td>

                                        <td>

                                            <a href="#"
                                               @click.prevent="destroySearchKeyword(row.group,row.id)"
                                               class="delete"
                                               title="delete"
                                               data-toggle="tooltip"


                                            >
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </SortedTable>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <notifications group="Notification" position="bottom right"></notifications>
    </div>
</template>

<script>

    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import SortedTablePlugin from "vue-sorted-table";
    import VueSweetalert2 from 'vue-sweetalert2';
    import VueCurrencyFilter from 'vue-currency-filter';

    Vue.use(VueSweetalert2);
    Vue.use(Notifications);
    Vue.use(SortedTablePlugin);
    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });


    export default {

        name: "extraCharge",

        data() {
            return {
                data: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                helperSearch: {
                    group: '',
                    newKeyword: '',
                    keywords: [],
                },
                offset: 4,
                searchText: '',
                searching: false
            }
        },

        created: function () {
            this.list();
        },

        computed: {
            isActived: function () { // no editar
                return this.paginate.current_page;
            },
            pagesNumber: function () { // no editar

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;
                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);
                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }
                return pageArray;
            }
        },

        methods: {

            list(page) {

                axios.get('api/ExtraCharge?page=' + page)
                    .then(response => {


                        response = response.data.success;

                        this.data = response.data;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;


                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: error.response.data,
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            search(page) {

                this.searching = true;

                axios.post('api/ExtraCharge/search?page=' + page,
                    {
                        search: this.searchText
                    }
                )
                    .then(response => {

                        response = response.data.success;

                        this.data = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;


                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: 'Grupo no encontrado',
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            update(id, group_name, commission_price, shipping_price, status) {


                this.$swal.mixin(
                    {
                        input: 'number',
                        confirmButtonText: 'Siguiente',
                        showCancelButton: true,
                        cancelButtonText: 'Cancelar',
                        progressSteps: ['1', '2', '3'],

                    }).queue([
                    {
                        title: group_name + '\nEstablece precio de comisión',
                        text: 'Selecciona % de ganancia.',
                        inputValue: commission_price,
                    },
                    {
                        title: group_name + '\nEstablece precio de envió',
                        text: 'Selecciona el monto que se agregara por producto en el envió.',
                        inputValue: shipping_price,
                    },
                    {
                        title: group_name + '\nHabilita o deshabilita el grupo',
                        input: 'select',
                        inputValue: status,

                        inputOptions: {
                            true: 'Activo',
                            false: 'Inactivo',
                        },
                    },
                ]).then((result) => {
                    if (result.value) {

                        let data = new FormData();

                        data.append('commission_price', result.value[0]);
                        data.append('shipping_price', result.value[1]);
                        data.append('status', result.value[2]);

                        axios.post('/api/ExtraCharge/' + id + '/update', data)
                            .then(response => {

                                this.$swal(
                                    'Actualizado!',
                                    'Grupo actualizado',
                                    'success'
                                );

                                this.list();

                            })
                            .catch(error => {
                                console.log(error.response.error);

                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }

                });

            },

            getSearchKeyword(group) {

                this.helperSearch.group = group;

                axios.post('api/product/getSearchKeyword',
                    {
                        group: group
                    }
                )
                    .then(response => {

                        this.helperSearch.keywords = response.data.success;
                        console.log(this.helperSearch.keywords);

                    })
                    .catch(error => console.log(error));


            },

            addSearchKeyword(group) {
                axios.post('api/product/addSearchKeyword',
                    {
                        group: group,
                        keyword: this.helperSearch.newKeyword,
                    }
                )
                    .then(response => {
                        this.helperSearch.newKeyword = '';
                        this.getSearchKeyword(group);
                    })
                    .catch(error => console.log(error));
            },

            destroySearchKeyword(group, keyword_id) {


                axios.post('api/product/destroySearchKeyword',
                    {
                        keyword_id: keyword_id
                    }
                )
                    .then(response => {
                        this.getSearchKeyword(group);
                    })
                    .catch(error => console.log(error));


            },

            changePage: function (page) { // no editar

                this.paginate.current_page = page;
                this.search(page);
            }

        }
    }

</script>
<style>
    a {
        color: #566787;
    }
</style>



