<template>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">


                <div class="col-sm-12">
                    <h2 class="mb-2">Detalle <b>Productos</b></h2>


                    <button class="btn btn-primary text-white"
                            type="button"
                            data-toggle="modal" data-target="#mostSold-modal">
                        <span> Ver productos más vendidos</span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="mostSold-modal" tabindex="-1" role="dialog"
                         aria-labelledby="mostSold-modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Productos mas vendidos</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                <a href="#">Clave</a>
                                            </th>
                                            <th scope="col">
                                                <a href="#">Descripción</a>
                                            </th>
                                            <th scope="col">
                                                <a href="#">Grupo</a>
                                            </th>
                                            <th scope="col">
                                                <a href="#">Marca</a>
                                            </th>
                                            <th scope="col">
                                                <a href="#" name="sold">Vendidos</a>
                                            </th>



                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="row in SelledProducts">
                                            <td><label>{{ row.key }}</label></td>
                                            <td><label>{{ row.description.substr(0,20) }}... </label></td>
                                            <td><label>{{ row.group }} </label></td>
                                            <td><label>{{ row.brand }} </label></td>
                                            <td><label>{{ row.sold }} </label></td>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="search-box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input
                            v-model="searchText"
                            v-on:keyup="list()"
                            type="text"
                            class="form-control"
                            placeholder="Buscar">
                    </div>
                </div>


            </div>
        </div>

        <SortedTable class="table table-striped table-hover" :values="items">
            <thead>
            <tr>

                <th scope="col">
                    <SortLink name="key">Clave</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="description">Descripción</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="group">Grupo</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="brand">Marca</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="available">Stock</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="price">Precio</SortLink>
                </th>


            </tr>
            </thead>
            <tbody slot="body" slot-scope="sort">
            <tr v-for="row in sort.values" :key="row.id">


                <td><label>{{ row.key }}</label></td>
                <td><label>{{ row.description.substr(0,30) }}... </label></td>
                <td><label>{{ row.group }} </label></td>
                <td><label>{{ row.brand }} </label></td>
                <td><label>{{ row.available }} </label></td>
                <td><label>{{ row.price | currency }} </label></td>


            </tr>
            </tbody>
        </SortedTable>


        <div class="clearfix">

            <div class="hint-text">Mostrando
                <b>{{ items.length }}</b> de <b>{{ paginate.total }}</b> registros
            </div>


            <ul class="pagination">

                <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page - 1)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li v-for="page in pagesNumber"
                    v-bind:class="[ page === isActived ?'active' : '' ]"
                    class="page-item">
                    <a href="#"
                       @click.prevent="changePage(page)"
                       class="page-link">{{ page }}</a>
                </li>

                <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page + 1)"
                       class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>


        </div>

        <notifications group="Notification" position="bottom right"></notifications>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import SortedTablePlugin from "vue-sorted-table";
    import VueSweetalert2 from 'vue-sweetalert2';
    import VueCurrencyFilter from 'vue-currency-filter'


    Vue.use(VueSweetalert2);
    Vue.use(Notifications);
    Vue.use(SortedTablePlugin);
    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });


    export default {

        name: 'table_products',

        data() {
            return {
                items: [], // carga de registros
                SelledProducts: [], // carga de registros de productos vendidos
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                offset: 4,
                searchText: '',
                searching: false
            }
        },

        created: function () {
            this.list();
            this.mostSelledProducts();
        },

        computed: {
            isActived: function () { // no editar
                return this.paginate.current_page;
            },
            pagesNumber: function () { // no editar

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;
                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);
                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }

                return pageArray;
            }

        },

        methods: {

            list(page) {

                this.searching = true;

                axios.post('api/product/simpleSearch?page=' + page,
                    {
                        search: this.searchText
                    }
                )
                    .then(response => {

                        response = response.data.success;

                        this.items = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;


                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: 'Usuario no encontrado',
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            mostSelledProducts() {


                axios.post('api/product/mostSelledProducts')
                    .then(response => {

                        this.SelledProducts = response.data.success;



                        console.log(  this.SelledProducts);


                    })
                    .catch(error => console.log(error));

            },


            destroy(id) {

                this.$swal({
                    title: 'Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('api/product/delete/' + id)
                            .then(response => {

                                this.$swal(
                                    'Eliminado!',
                                    'Usuario eliminado',
                                    'success'
                                );
                                this.list();


                            })
                            .catch(error => {
                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.data,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })


            },

            update(id) {
                window.location.href = '/product/' + id;
            },

            changePage: function (page) { // no editar

                this.paginate.current_page = page;
                this.list(page);
            }

        }
    }

</script>
<style>
    a {
        color: #566787;
    }
</style>
