<template>

    <div>
        <div class="row">
            <div class="col-md-3">
                <h3>Datos de usuario</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input v-model="dataUser.name"
                           type="text"
                           class="form-control"
                           placeholder="Nombre"
                           name="nombre" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input v-model="dataUser.email"
                           type="email"
                           class="form-control"
                           placeholder="Correo electrónico" disabled>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Celular</label>
                    <input v-model="dataUser.celular"
                           type="cellphone"
                           class="form-control"
                           placeholder="Celular" disabled>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Teléfono Fijo</label>
                    <input v-model="dataUser.telefono"
                           type="telephone"
                           class="form-control"
                           placeholder="Teléfono Fijo" disabled>

                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-5">
                <h3>Datos de facturación</h3>
            </div>
        </div>

        <div class="row mt-4" v-for="SocialReason in socialReasons">
            <div class="col-md-5">

                <label>Razón Social</label>
                <input
                    :value="SocialReason.nameOrSocialReason"
                    class="form-control"
                    placeholder="Razón Social" disabled>
            </div>

            <div class="col-md-5">

                <label>RFC</label>
                <input
                    :value="SocialReason.RFC"
                    class="form-control"
                    placeholder="RFC" disabled>
            </div>

            <div class="col-md-12 mt-3">
                <hr>
            </div>

        </div>


        <div class="row mt-4">
            <div class="col-md-5">
                <h3>Direcciones</h3>
            </div>
        </div>

        <div class="row mt-4" v-for="direction in directions">


                <div v-if="direction.active===1" class="col-md-2">
                    <label>Estado</label>
                    <input
                        :value="direction.country"
                        class="form-control"
                        placeholder="Estado" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2">
                    <label>Ciudad</label>
                    <input
                        :value="direction.city"
                        class="form-control"
                        placeholder="Ciudad" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2">
                    <label>Colonia</label>
                    <input
                        :value="direction.colony"
                        class="form-control"
                        placeholder="Colonia" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2">
                    <label>Número Externo</label>
                    <input
                        :value="direction.external_number"
                        class="form-control"
                        placeholder="Número Externo" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2">
                    <label>Número Interno</label>
                    <input
                        :value="direction.internal_number"
                        class="form-control"
                        placeholder="Número Interno" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2">
                    <label>Calle</label>
                    <input
                        :value="direction.street"
                        class="form-control"
                        placeholder="Calle" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2 mt-3">
                    <label>CP</label>
                    <input
                        :value="direction.cp"
                        class="form-control"
                        placeholder="CP" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-2 mt-3">
                    <label>Referencia</label>
                    <input
                        :value="direction.reference"
                        class="form-control"
                        placeholder="Referencia" disabled>
                </div>
                <div v-if="direction.active===1" class="col-md-12 mt-3">
                    <hr>
                </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <a href="/../dashboard/usuarios/"
                   class="mt-3 btn btn-secondary btn-fill pull-right text-white btn_movil">
                    Regresar
                </a>
            </div>
        </div>


        <notifications group="Notification" position="bottom right"></notifications>

        <div class="clearfix"></div>
    </div>


</template>


<script>

    import Vue from 'vue'
    import Notifications from 'vue-notification'

    Vue.use(Notifications);

    export default {
        name: 'show-usuarios',
        props: ['user'],
        created() {
            this.creditCards = JSON.parse(this.user).credit_cards;
            this.socialReasons = JSON.parse(this.user).billing;
            this.directions = JSON.parse(this.user).shipping_adress;

            console.log(JSON.parse(this.user));

        },
        data() {

            return {
                dataUser: {
                    //User
                    name: JSON.parse(this.user).name,
                    email: JSON.parse(this.user).email,
                    celular: JSON.parse(this.user).cellphone,
                    telefono: JSON.parse(this.user).telephone,
                    //Adress
                    directions: [],
                    //Cards
                    creditCards: [],
                    //Billing
                    socialReasons: [],
                }

            }
        },
        methods: {
            show() {

            }

        }
    }
</script>


<style scoped>

    hr {
        margin: 1px;
    }
</style>
