<template>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-2">Detalle <b>Usuarios</b></h2>


                    <div class="search-box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input
                            v-model="searchText"
                            v-on:keyup="search()"
                            type="text"
                            class="form-control"
                            placeholder="Buscar">
                    </div>
                </div>
            </div>
        </div>

        <SortedTable class="table table-striped table-hover" :values="users">
            <thead>
            <tr>
                <th scope="col">
                    <SortLink name="nombre">Nombre</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="correo">Correo</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="celular">Celular</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="Teléfono Fijo">Teléfono Fijo</SortLink>
                </th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody slot="body" slot-scope="sort">
            <tr v-for="row in sort.values" :key="row.id">

                <td>
                    <img :src="row.image" alt="imagen_perfil" class="avatar"><label>{{ row.name }}</label>
                </td>
                <td>{{ row.email }}</td>
                <td>{{ row.cellphone }}</td>
                <td>{{ row.telephone }}</td>

                <td>
                    <a href="#"
                       @click.prevent="update(row.id)"
                       class="settings" title="Settings"
                       data-toggle="tooltip">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>

                    <a  v-if="JSON.parse(auth).email !== row.email"
                        href="#"
                       @click.prevent="destroy(row.id)"
                       class="delete"
                       title="Delete"
                       data-toggle="tooltip">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>

                    <a href="#"
                       @click.prevent="changeRole(row.id,row.role)"
                       class="settings"
                       title="settings"
                       data-toggle="tooltip">
                        <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </SortedTable>


        <div class="clearfix">

            <div class="hint-text">Mostrando
                <b>{{ users.length }}</b> de <b>{{ paginate.total }}</b> registros
            </div>


            <ul class="pagination">

                <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page - 1)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li v-for="page in pagesNumber"
                    v-bind:class="[ page === isActived ?'active' : '' ]"
                    class="page-item">
                    <a href="#"
                       @click.prevent="changePage(page)"
                       class="page-link">{{ page }}</a>
                </li>

                <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page + 1)"
                       class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>


        </div>

        <notifications group="Notification" position="bottom right"></notifications>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import SortedTablePlugin from "vue-sorted-table";
    import VueSweetalert2 from 'vue-sweetalert2';

    Vue.use(VueSweetalert2);
    Vue.use(Notifications);
    Vue.use(SortedTablePlugin);

    export default {

        name: 'table_users',
        props: ['auth'],
        data() {
            return {
                users: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                offset: 4,
                searchText: '',
                searching: false
            }
        },

        created: function () {
            this.list();
        },

        computed: {
            isActived: function () { // no editar
                return this.paginate.current_page;
            },
            pagesNumber: function () { // no editar

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;
                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);
                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }

                return pageArray;
            }

        },

        methods: {

            list(page) {

                axios.get('api/user?page=' + page)
                    .then(response => {


                        response = response.data.success;

                        this.users = response.data;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;



                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: error.response.data,
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            changeRole(id,role) {

                let title = '';
                let text = 'Puedes cambiarlo cuando  quieras.';


                if(role === 1){
                    title = '¿ Quieres convertir en administrador a este usuario ?';
                }else{
                    title = '¿ Quieres que deje de ser administrador este usuario ?';
                }


                this.$swal({
                    title: title,
                    text: text,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, cambiarlo',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.value) {


                        let data = new FormData();

                        data.append('user_id',id);

                        axios.post('/api/user/changeRole', data)
                            .then(response => {

                                this.$swal(
                                    'Actualizado!',
                                    'Usuario actualizado',
                                    'success'
                                );

                                this.list();

                            })
                            .catch(error => {
                                console.log(error.response.error);

                                this.$notify({
                                    group: 'Notification',
                                    title: 'error al actualizar intentelo más tarde',
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });
                    }
                })

            },

            search(page) {

                this.searching = true;

                axios.post('api/user/search?page=' + page,
                    {
                        search: this.searchText
                    }
                )
                    .then(response => {

                        response = response.data.success;

                        this.users = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;


                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: 'Usuario no encontrado',
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            destroy(id) {

                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podrás revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('api/user/delete/' + id)
                            .then(response => {

                                this.$swal(
                                    'Eliminado!',
                                    'Usuario eliminado',
                                    'success'
                                );
                                this.list();


                            })
                            .catch(error => {
                                console.log(error.response.data);

                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.data,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });
                    }
                })

            },

            update(id) {
                window.location.href = 'usuarios/' + id;
            },

            changePage: function (page) { // no editar

                this.paginate.current_page = page;
                this.search(page);
            }

        }
    }

</script>
<style>
    a {
        color: #566787;
    }
</style>
