<template>


    <div>

        <h3 class="mb-3">Datos de Cuenta</h3>
        <div class="row">
            <div class="col-md-3">
                <label> Nombre</label>
                <input v-model="user.name"
                       class="form-control"
                       type="text"
                       placeholder="Nombre"
                       :disabled="!edit_mode"
                >
                <span v-if="errors.nombre" class="error">¡{{errors.nombre[0]}}!</span>

            </div>
            <div class="col-md-5">
                <label> Correo Electrónico</label>
                <input v-model="user.email"
                       class="form-control"
                       type="text"
                       placeholder="Correo Electrónico"
                       disabled
                >

            </div>

            <div class="col-md-3 mt-5">
                <a href="#" class="linkBlue" @click="changePassword=true" v-if="edit_mode && !changePassword">Cambiar Contraseña</a>
                <a href="#" class="linkBlue" @click="changePassword=false" v-if="edit_mode && changePassword">Cancelar</a>

            </div>
        </div>


        <div class="row mt-3" v-if="changePassword">
            <div class="col-md-3">
                <label> Contraseña Actual</label>
                <input v-model="formPassword.currentPassword"
                       class="form-control"
                       type="password"
                       placeholder="Contraseña Actual"

                >
                <span v-if="errors.contraseña_actual" class="error">¡{{errors.contraseña_actual[0]}}!</span>
            </div>

            <div class="col-md-3">
                <label> Nueva Contraseña </label>
                <input v-model="formPassword.newPassword"
                       class="form-control"
                       type="password"
                       placeholder="Nueva Contraseña "

                >
                <span v-if="errors.contraseña" class="error">¡{{errors.contraseña[0]}}!</span>
            </div>

            <div class="col-md-3">
                <label> Confirmar Contraseña </label>
                <input v-model="formPassword.confirmPassword"
                       class="form-control"
                       type="password"
                       placeholder="Confirmar Contraseña"

                >
                <span v-if="errors.confirmar_contraseña" class="error">¡{{errors.confirmar_contraseña[0]}}!</span>
            </div>


        </div>


        <h3 class="mt-4">Datos Personales</h3>

        <div class="row">

            <div class="col-md-3">
                <label>Teléfono Celular</label>
                <input v-model="user.cellphone"
                       class="form-control"
                       type="text"
                       placeholder="Teléfono Celular"
                       :disabled="!edit_mode"
                >
                <span v-if="errors.celular" class="error">¡{{errors.celular[0]}}!</span>

            </div>
            <div class="col-md-3">
                <label>Teléfono Fijo</label>
                <input v-model="user.telephone"
                       class="form-control"
                       type="text"
                       placeholder="Teléfono Fijo"
                       :disabled="!edit_mode"
                >
                <span v-if="errors.telefono" class="error">¡{{errors.telefono[0]}}!</span>
            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-md-3">
                <button @click="editForm" v-if="!edit_mode" class="btn btn-primary">Editar</button>
                <button @click="saveForm" v-if="edit_mode" class="btn btn-primary">Guardar</button>
                <button @click="cancelForm" v-if="edit_mode" class="btn btn-secondary">Cancelar</button>

            </div>
        </div>


        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>

    </div>

</template>


<script>

    export default {
        name: "account",
        props: ['auth'],
        data() {
            return {
                errors: [],
                user: {},
                edit_id: 0,
                edit_item: false,
                edit_mode: false,
                changePassword: false,
                formCard: {},
                loading: false,
                formPassword: {
                    currentPassword: "",
                    newPassword: "",
                    confirmPassword: "",
                },
            }
        },
        mounted() {
            this.user = JSON.parse(this.auth);
        },
        methods: {

            editForm() {
                this.edit_mode = true;
            },

            cancelForm() {
                this.edit_mode = false;
                this.changePassword = false;
            },

            saveForm() {
                this.errors = [];

                let data = new FormData();
                data.append('nombre', this.user.name);
                data.append('telefono', this.user.telephone);
                data.append('celular', this.user.cellphone);

                if (this.changePassword) {
                    data.append('contraseña_actual', this.formPassword.currentPassword);
                    data.append('contraseña', this.formPassword.newPassword);
                    data.append('confirmar_contraseña', this.formPassword.confirmPassword);
                }

                axios.post('api/user/update/' + this.user.id, data)
                    .then(response => {

                        this.$swal(
                            'Perfil Actualizado!',
                            'éxito al guardar',
                            'success'
                        );

                        if (this.changePassword) {
                            this.formPassword.currentPassword = "";
                            this.formPassword.newPassword = "";
                            this.formPassword.confirmPassword = "";
                            this.changePassword = false;
                        }
                        this.edit_mode = false;

                    })
                    .catch(error => {

                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;

                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });
                        }
                    });
            }
        }
    }
</script>


<style scoped>

    .linkBlue {
        color: #3490dc;
    }


    .error {
        color: #f5593d;
    }

    .toUpperCase {
        text-transform: uppercase;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
