<template>

    <div>

        <h4>Mis Tarjetas:</h4>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button
                    @click="cleanForm()"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modal">
                    Agregar tarjetas
                </button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-mb-4 m-3" v-for="card in cards">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h6 class="card-title">Tarjeta: •••{{card.number}}</h6>
                        <h6 class="card-title">Tipo: {{card.type}}</h6>
                        <i :class="card.icon" aria-hidden="true"></i>

                        <a href="#"
                           @click.prevent="destroy(card)"
                           class="float-right card-link">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">


                        <h5 class="modal-title">Registrar Tarjeta</h5>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-2">

                        <div class="row">
                            <div class="col-md-12">
                                <div id="CreditCart" class="card-js">
                                    <input
                                        class="card-number"
                                        name="card-number"
                                        placeholder="Numero de tarjeta">

                                    <input class="name"
                                           id="the-card-name-id"
                                           name="card-holders-name"
                                           placeholder="Nombre en la tarjeta">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="cleanForm()"
                                type="button" class="btn btn-secondary"
                                data-dismiss="modal">Cancelar
                        </button>

                        <button @click="create"
                                class="btn btn-primary"
                                data-dismiss="modal">Guardar
                        </button>

                    </div>
                </div>
            </div>
        </div>


        <notifications group="Notification" position="bottom right"></notifications>

    </div>

</template>


<script>

    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';
    import Notifications from 'vue-notification';

    Vue.use(VueSweetalert2);
    Vue.use(Notifications);

    export default {
        name: "card",
        props: ['auth'],
        data() {
            return {
                errors: [],
                cards: [],
                loading: false
            }
        },
        mounted() {
            this.loadCreditCart();
        },
        methods: {
            loadCreditCart() {
                axios.get('/api/CreditCard/' + JSON.parse(this.auth).id)
                    .then(response => {
                        this.cards = response.data.success;

                        this.cards.forEach(function (item) {

                            switch (item.type) {

                                case"Visa Electron":
                                case"Visa":
                                    item.icon = "fa fa-cc-visa";
                                    break;
                                case"Mastercard":
                                    item.icon = "fa fa-cc-mastercard";
                                    break;
                                case"AMEX":
                                    item.icon = "fa fa-cc-amex";
                                    break;
                                case"Discover":
                                    item.icon = "fa fa-cc-discover";
                                    break;
                                case"Diners - Carte Blanche":
                                case"Diners":
                                    item.icon = "fa fa-cc-diners-club";
                                    break;
                                case"JCB":
                                    item.icon = "fa fa-cc-jcb";
                                    break;
                            }
                        });
                    })
                    .catch(error => console.log(error));

            },

            create() {

                let Card = $('#CreditCart');

                if (CardJs.isExpiryValid(Card.CardJs('expiryMonth'), Card.CardJs('expiryYear'))) {

                    let data = new FormData();

                    data.append('numeroDeTarjeta', Card.CardJs('cardNumber').toString().trim());
                    data.append('nombre', Card.CardJs('name'));
                    data.append('cvc', Card.CardJs('cvc'));
                    data.append('mes', Card.CardJs('expiryMonth'));
                    data.append('año', Card.CardJs('expiryYear'));
                    data.append('tipo', Card.CardJs('cardType'));
                    data.append('user_id', JSON.parse(this.auth).id);

                    axios.post('api/CreditCard/create', data)
                        .then(response => {

                            this.$swal(
                                'Tarjeta registrada!',
                                'éxito al guardar',
                                'success'
                            );


                            this.loadCreditCart();

                        })
                        .catch(error => {

                            this.errors = error.response.data.error;

                            if (this.errors.numeroDeTarjeta) {
                                this.$notify({
                                    group: 'Notification',
                                    title: errors.numeroDeTarjeta[0],
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }
                            if (this.errors.nombre) {
                                this.$notify({
                                    group: 'Notification',
                                    title: errors.nombre[0],
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }
                            if (this.errors.cvc) {
                                this.$notify({
                                    group: 'Notification',
                                    title: errors.cvc[0],
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }
                            if (this.errors.mes) {
                                this.$notify({
                                    group: 'Notification',
                                    title: errors.mes[0],
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }
                            if (this.errors.año) {
                                this.$notify({
                                    group: 'Notification',
                                    title: errors.año[0],
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }
                            if (this.errors.tipo) {
                                this.$notify({
                                    group: 'Notification',
                                    title: 'Tipo de tarjeta no reconocido',
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            }

                        });
                } else {

                    this.$notify({
                        group: 'Notification',
                        title: 'Fecha de expiración invalida',
                        text: '',
                        position: 'bottom right',
                        speed: 1000,
                        type: 'error'
                    });

                }

            },

            destroy(item) {
                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('/api/CreditCard/' + item.id)
                            .then(response => {

                                console.log(response);

                                this.$swal(
                                    'Eliminado!',
                                    'Datos eliminados',
                                    'success'
                                );
                                this.loadCreditCart();

                            })
                            .catch(error => {

                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })
            },


            cleanForm() {


            },

        }
    }
</script>

<style scoped>

    .error {
        color: #f5593d;
    }

    .toUpperCase {
        text-transform: uppercase;
    }

    hr {
        margin: 30px;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
