<template>
    <div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <h3>Información del pedido</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estatus:</label>
                    <input v-model="order.status"
                           type="text"
                           class="form-control"
                           placeholder="Status" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Método de pago:</label>
                    <input v-model="order.payment_method.method"
                           type="text"
                           class="form-control"
                           placeholder="Método de pago" disabled>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Número de rastreo:</label>
                    <input v-model="order.shipping.tracking_number"
                           type="text"
                           class="form-control"
                           placeholder="Número de rastreo" disabled>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Paquetería:</label>
                    <input v-model="order.shipping.company_shipping"
                           type="text"
                           class="form-control"
                           placeholder="Paquetería" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Fecha de orden:</label>
                    <input v-model="order.created_at"
                           type="text"
                           class="form-control"
                           placeholder="Fecha de cración" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Ultima actualización:</label>
                    <input v-model="order.updated_at"
                           type="text"
                           class="form-control"
                           placeholder="Ultima actualización" disabled>
                </div>
            </div>


        </div>
        <hr>


        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Productos</h3>
            </div>
        </div>
        <div class="row">


            <div class="panel-body col-md-12">
                <div class="order-review-wrapper">
                    <div class="order-review">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="width-1">Nombre Del Producto</th>
                                    <th class="width-2">Precio</th>
                                    <th class="width-3">Cant.</th>
                                    <th class="width-4">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="product in cart.products">
                                    <td>
                                        <div class="o-pro-dec">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-price">
                                            <p>{{ product.price | currency }}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-qty">
                                            <p>{{product.shoppingCart.quantity}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-subtotal">
                                            <p>{{product.shoppingCart.subtotal | currency}}</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <hr>

        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Datos de cobro</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Total:</label>
                    <input :value="order.total | currency"
                           type="text"
                           class="form-control"
                           placeholder="Total" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Subtotal:</label>
                    <input :value="order.subtotal | currency"
                           type="text"
                           class="form-control"
                           placeholder="Subtotal" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>IVA:</label>
                    <input :value="order.vat | currency"
                           type="text"
                           class="form-control"
                           placeholder="IVA" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Costo de envió:</label>
                    <input :value="order.shipping.shippingPrice | currency"
                           type="text"
                           class="form-control"
                           placeholder="Costo de envió" disabled>
                </div>
            </div>


        </div>
        <hr>

        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Dirección</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Colonia:</label>
                    <input v-model="order.direction.colony"
                           type="text"
                           class="form-control"
                           placeholder="Colonia" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Calle:</label>
                    <input v-model="order.direction.street"
                           type="text"
                           class="form-control"
                           placeholder="Calle" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número exterior:</label>
                    <input v-model="order.direction.external_number"
                           type="text"
                           class="form-control"
                           placeholder="Número exterior" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número interior:</label>
                    <input v-model="order.direction.internal_number"
                           type="text"
                           class="form-control"
                           placeholder="Número interior" disabled>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label>CP:</label>
                    <input v-model="order.direction.cp"
                           type="text"
                           class="form-control"
                           placeholder="CP" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Ciudad:</label>
                    <input v-model="order.direction.city"
                           type="text"
                           class="form-control"
                           placeholder="Ciudad" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado:</label>
                    <input v-model="order.direction.state.name"
                           type="text"
                           class="form-control"
                           placeholder="Estado" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>País:</label>
                    <input v-model="order.direction.country"
                           type="text"
                           class="form-control"
                           placeholder="País" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Referencias:</label>
                    <input v-model="order.direction.reference"
                           type="text"
                           class="form-control"
                           placeholder="Referencias" disabled>
                </div>
            </div>
        </div>
        <hr>


        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>
    </div>

</template>

<script>
    export default {
        name: "detail",
        props: ['auth', 'order_id'],
        data() {
            return {
                loading: false,
                order: {
                    user: {
                        name: ''
                    },
                    payment_method: {
                        method: '',
                    },
                    direction: {
                        colony: '',
                        state: {
                            name: ''
                        }
                    },
                    billing: {
                        RFC: ''
                    },
                    shipping: {
                        shippingPrice: '',
                        tracking_number: 'Pendiente'
                    }


                },
                cart: {
                    total: 0.0,
                    subtotal: 0.0,
                    iva: 0.0,
                    shipping_price: 0.0,
                    countItems: 0,
                    products: [],
                },
            }
        },

        mounted() {

            this.getOrder();


        },

        methods: {
            loadcart() {

                this.loading = true;

                axios.post('api/product/quoteCart',
                    {
                        ShopCart: JSON.stringify(this.order.item_qty)
                    })

                    .then(response => {

                        response = response.data.success;

                        this.cart.shipping_price = response.shipping_price;
                        this.cart.iva = response.iva;
                        this.cart.subtotal = response.subtotal;
                        this.cart.total = response.total;
                        this.cart.countItems = response.quantityItem;
                        this.cart.products = response.Product;

                        this.loading = false;

                    })
                    .catch(error => console.log(error));
            },

            getOrder() {


                axios.post('api/order/find',
                    {
                        user_id: JSON.parse(this.auth).id,
                        order_id: this.order_id
                    }
                ).then(response => {

                    this.order = response.data.success;

                    if ( this.order.shipping.tracking_number === 0) {
                        this.order.shipping.tracking_number="Pendiente";
                    }
                    this.loadcart();

                })
                    .catch(error => {
                        //  window.location.href="/mis_compras";
                        console.log(error);


                    });
            }
        }


    }
</script>

<style scoped>
    hr {
        margin: 1px;
        margin-bottom: 35px;
    }


    .error {
        color: #f5593d;
    }

    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

</style>
