<template>

    <div>
        <h2 class="page-title">Mis compras</h2>

        <div class="row">
            <div class="col-12">
                <div class="table-content table-responsive wishlist">
                    <table>
                        <thead>
                        <tr>

                            <th>N° Pedido</th>
                            <th>Fecha Pedido</th>
                            <th>Pagado con</th>
                            <th>Total</th>
                            <th>Estatus</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="order in items">


                            <td class="product-quantity"><a href="#">{{ order.id }}</a></td>
                            <td class="product-price-cart"><span class="amount">{{ order.created_at_short}}</span></td>
                            <td class="product name">Paypal</td>
                            <td class="product-quantity">
                                <div class="pro-dec-cart">
                                    <label>{{order.total | currency }}</label>
                                </div>
                            </td>
                            <td>{{ order.status }}</td>
                            <td class="product-wishlist-cart">
                                <a href="" @click.prevent="detailOrder(order.id)">Detalle</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pagination-total-pages mt-5">


                    <div class="pagination-style">


                        <ul>
                            <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]">
                                <a class="prev-next prev"
                                   href="#"
                                   @click.prevent="changePage(paginate.current_page - 1)">
                                    <i class="ion-ios-arrow-left"></i>Antes</a>
                            </li>

                            <li v-for="page in pagesNumber">
                                <a
                                    @click.prevent="changePage(page)"
                                    v-bind:class="[ page === isActived ?'active' : '' ]"
                                    href="#">{{ page }}</a>
                            </li>

                            <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]">
                                <a href="#"
                                   @click.prevent="changePage(paginate.current_page + 1)"
                                   class="prev-next next">Siguiente
                                    <i class="ion-ios-arrow-right"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div class="total-pages">

                        <p>Mostrando {{paginate.from }} - {{ paginate.to }} de {{ paginate.total }}
                            resultados </p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>

    </div>

</template>


<script>

    import VueCurrencyFilter from 'vue-currency-filter'
    import Vue from 'vue'

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: "Purchases",
        props: ['auth'],
        data() {
            return {
                loading: false,
                items: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                offset: 4,
            }
        },
        mounted() {
          this.list();
        },
        computed: {
            isActived: function () {
                return this.paginate.current_page;
            },
            pagesNumber: function () {

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;

                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);

                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }
                return pageArray;
            },

        },
        methods: {

            list(page) {

                axios.post('api/order/getOrdersByUser?page=' + page,
                    {
                        user_id: JSON.parse(this.auth).id
                    })
                    .then(response => {

                        response = response.data.success;

                        this.items = response.data;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                    })
                    .catch(error => console.log(error));

            },

            detailOrder(order_id) {
                window.location.href =  'detalle_pedido/' + order_id;
            },

            changePage(page) { // no editar

                this.paginate.current_page = page;
                this.list(page);
            },



        }
    }
</script>

<style scoped>

    .error {
        color: #f5593d;
    }

    .toUpperCase {
        text-transform: uppercase;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
