<template>


    <div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-3">
                    Información de dirección de envíos y datos de facturación.
                </h3>
            </div>
        </div>


        <h4>Datos de facturación:</h4>
        <br>
        <div class="row">

            <div class="col-md-3">
                <label>Razón Social o Nombre:</label>
                <input v-model="formBilling.nameOrSocialReason" type="text" class="form-control"
                       placeholder="Razón Social o Nombre">
                <span v-if="errors.razonSocial" class="error">¡{{errors.razonSocial[0]}}!</span>

            </div>

            <div class="col-md-3">
                <label>RFC:</label>
                <input v-model="formBilling.rfc" type="text" class="form-control toUpperCase" placeholder="RFC">
                <span v-if="errors.rfc" class="error">¡{{errors.rfc[0]}}!</span>

            </div>
            <div class="col-md-2">
                <div class="h-50"></div>

                <button v-if="!edit_billing"
                        @click="createBilling()"
                        class="btn btn-primary">
                    Agregar datos de facturación
                </button>

                <button
                    v-if="edit_billing"
                    @click="updateBilling()"
                    class="btn btn-primary">Guardar
                </button>


            </div>

            <div v-if="edit_billing" class="col-md-1">
                <div class="h-50"></div>
                <button @click="cancelUpdateBilling()" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-mb-4 m-3" v-for="billing in billings">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">Razón Social o Nombre:</h6>
                        <p class="card-text">{{billing.nameOrSocialReason}}</p>
                        <h6 class="card-title">RFC:</h6>
                        <p class="card-text">{{billing.RFC}}</p>

                        <a href="#"
                           @click.prevent="loadBilling(billing)"
                           class="card-link">Editar</a>

                        <a href="#"
                           @click.prevent="destroyBilling(billing)"
                           class="card-link">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h4>Mis direcciones:</h4>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button
                    @click="cleanFormDirections()"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modal">
                    Agregar Direcciones
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">


                        <h5 v-if="!edit_direction" class="modal-title">Registrar Dirección</h5>

                        <h5 v-if="edit_direction" class="modal-title">Editar Dirección</h5>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-2">

                        <div class="row">
                            <div class="col-md-12 mb-1">
                                <label>Nombre de ubicación: *</label>
                                <input class="form-control"
                                    v-model="formDirections.nombreUbicacion" type="text"
                                       placeholder="Nombre de ubicación">
                                <span v-if="errors.nombreUbicacion" class="error">¡{{errors.nombreUbicacion[0]}}!</span>
                            </div>
                            <div class="col-md-12 mb-1">
                                <label>Calle: *</label>
                                <input class="form-control" v-model="formDirections.calle" type="text" placeholder="Calle">
                                <span v-if="errors.calle" class="error">¡{{errors.calle[0]}}!</span>
                            </div>
                            <div class="col-md-6 mb-1">
                                <label>Numero: *</label>
                                <input class="form-control" v-model="formDirections.numeroExterior" type="text" placeholder="Numero">
                                <span v-if="errors.numeroExterior" class="error">¡{{errors.numeroExterior[0]}}!</span>
                            </div>
                            <div class="col-md-6 mb-1">
                                <label>Interior:</label>
                                <input class="form-control" v-model="formDirections.numeroInterior" type="text" placeholder="Interior">
                                <span v-if="errors.numeroInterior" class="error">¡{{errors.numeroInterior[0]}}!</span>
                            </div>
                            <div class="col-md-12 mb-1">
                                <label>Referencia: *</label>
                                <input class="form-control" v-model="formDirections.referencia" type="text"
                                       placeholder="Entre que calles o describe la fachada">
                                <span v-if="errors.referencia" class="error">¡{{errors.referencia[0]}}!</span>
                            </div>
                            <div class="col-md-8 mb-1">
                                <label>Colonia: *</label>
                                <input class="form-control" v-model="formDirections.colonia" type="text" placeholder="Colonia">
                                <span v-if="errors.colonia" class="error">¡{{errors.colonia[0]}}!</span>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label>Código postal: *</label>
                                <input class="form-control" v-model="formDirections.códigoPostal" type="text" placeholder="CP">
                                <span v-if="errors.codigoPostal" class="error">¡{{errors.codigoPostal[0]}}!</span>
                            </div>
                            <div class="col-md-4 mb-1">
                                <label>Ciudad: *</label>
                                <input class="form-control" v-model="formDirections.ciudad" type="text" placeholder="Ciudad">
                                <span v-if="errors.ciudad" class="error">¡{{errors.ciudad[0]}}!</span>
                            </div>
                            <div class="col-md-5 mb-1">

                                <label>Estado: *</label>
                                <select v-model="formDirections.estado" class="custom-select">
                                    <option selected value="">Seleccióna ..</option>
                                    <option
                                        v-for="state in states"
                                        :selected="state.id === formDirections.estado"
                                        :value="state.id">{{ state.name}}
                                    </option>

                                </select>
                                <span v-if="errors.estado" class="error">¡{{errors.estado[0]}}!</span>
                            </div>
                            <div class="col-md-3 mb-1">
                                <label>País:</label>
                                <input class="form-control" v-model="formDirections.pais" type="text" readonly>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button @click="cleanFormDirections" type="button" class="btn btn-secondary"
                                data-dismiss="modal">Cancelar
                        </button>

                        <button v-if="edit_direction"
                                @click="updateDirection"
                                class="btn btn-primary">Guardar
                        </button>

                        <button v-if="!edit_direction"
                                @click="createDirections"
                                class="btn btn-primary">Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-mb-4 m-3" v-for="direction in directions">
                <div class="card" style="width: 18rem;">
                    <div class="card-body p-1">
                        <h5 class="card-title">Dirección:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{direction.name}}</h6>
                        <p class="card-text">
                            {{direction.colony}}
                            {{direction.street}}
                            #{{ direction.external_number}}
                            int {{ direction.internal_number}}<br>
                            {{ direction.reference}}<br>
                            CP: {{ direction.cp }}<br>
                            {{ direction.city}}, {{ direction.state.name}}, {{ direction.country}}
                        </p>
                        <a href="#"
                           @click.prevent="loadDirection(direction)"
                           class="card-link">Editar</a>

                        <a href="#"
                           @click.prevent="destroyDirection(direction)"
                           class="card-link">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

        <notifications group="Notification" position="bottom right"></notifications>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>

    </div>

</template>


<script>

    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';
    import Notifications from 'vue-notification';

    Vue.use(VueSweetalert2);
    Vue.use(Notifications);

    export default {
        name: "shippingInformation",
        props: ['auth'],

        data() {
            return {
                errors: [],
                billings: [],
                directions: [],
                states: [],
                edit_id: 0,
                edit_billing: false,
                edit_direction: false,
                formBilling: {
                    rfc: '',
                    nameOrSocialReason: '',
                },
                formDirections: {
                    nombreUbicacion: '',
                    calle: '',
                    numeroExterior: '',
                    numeroInterior: '',
                    referencia: '',
                    colonia: '',
                    códigoPostal: '',
                    ciudad: '',
                    estado: '',
                    pais: 'México',
                },
                loading: false
            }
        },

        mounted() {
            this.getBillingsData();
            this.getDirectionsData();
            this.getStates();
        },

        methods: {

            //billings data
            getBillingsData() {
                axios.get('/api/UserBilling/' + JSON.parse(this.auth).id)
                    .then(response => {
                        this.billings = response.data.success;
                    })
                    .catch(error => console.log(error));
            },

            createBilling() {

                this.errors = [];

                let data = new FormData();
                data.append('rfc', this.formBilling.rfc);
                data.append('razonSocial', this.formBilling.nameOrSocialReason);
                data.append('user_id', JSON.parse(this.auth).id);


                axios.post('api/UserBilling/create', data)
                    .then(response => {

                        this.$swal(
                            'Datos de facturación guardados!',
                            'éxito al guardar',
                            'success'
                        );
                        this.getBillingsData();
                        this.formBilling.rfc = '';
                        this.formBilling.nameOrSocialReason = '';
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });

            },

            updateBilling() {
                this.errors = [];

                let data = new FormData();
                data.append('rfc', this.formBilling.rfc);
                data.append('razonSocial', this.formBilling.nameOrSocialReason);


                axios.post('api/UserBilling/' + this.edit_id + '/update', data)
                    .then(response => {

                        this.$swal(
                            '¡Datos de facturación guardados!',
                            'exito al actualizar',
                            'success'
                        );
                        this.getBillingsData();
                        this.formBilling.rfc = '';
                        this.formBilling.nameOrSocialReason = '';
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });
            },

            loadBilling(billing) {
                this.edit_billing = true;
                this.formBilling.nameOrSocialReason = billing.nameOrSocialReason;
                this.edit_id = billing.id;
                this.formBilling.rfc = billing.RFC;
            },

            cancelUpdateBilling() {
                this.formBilling.nameOrSocialReason = '';
                this.formBilling.rfc = '';
                this.edit_id = 0;

                this.edit_billing = false;

            },

            destroyBilling(billing) {

                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('/api/UserBilling/' + billing.id)
                            .then(response => {

                                this.$swal(
                                    'Eliminado!',
                                    'Datos eliminados',
                                    'success'
                                );
                                this.getBillingsData();
                            })
                            .catch(error => {

                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })
            },


            //directios

            getDirectionsData() {
                axios.get('/api/UserAdress/' + JSON.parse(this.auth).id)
                    .then(response => {
                        this.directions = response.data.success;
                    })
                    .catch(error => console.log(error));
            },

            createDirections() {

                let data = new FormData();
                data.append('nombreUbicacion', this.formDirections.nombreUbicacion);
                data.append('colonia', this.formDirections.colonia);
                data.append('calle', this.formDirections.calle);
                data.append('numeroExterior', this.formDirections.numeroExterior);
                data.append('numeroInterior', this.formDirections.numeroInterior);
                data.append('referencia', this.formDirections.referencia);
                data.append('codigoPostal', this.formDirections.códigoPostal);
                data.append('ciudad', this.formDirections.ciudad);
                data.append('estado', this.formDirections.estado);
                data.append('user_id', JSON.parse(this.auth).id);

                axios.post('api/UserAdress/create', data)
                    .then(response => {

                        this.$swal(
                            'Dirección  guardada!',
                            'éxito al guardar',
                            'success'
                        );
                        this.getDirectionsData();
                        this.cleanFormDirections();
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });

            },

            loadDirection(direction) {

                this.errors = [];
                this.edit_direction = true;
                this.edit_id = direction.id;

                this.formDirections.nombreUbicacion = direction.name;
                this.formDirections.colonia = direction.colony;
                this.formDirections.calle = direction.street;
                this.formDirections.numeroExterior = direction.external_number;
                this.formDirections.numeroInterior = direction.internal_number;
                this.formDirections.referencia = direction.reference;
                this.formDirections.códigoPostal = direction.cp;
                this.formDirections.ciudad = direction.city;
                this.formDirections.estado = direction.state.id;
                this.formDirections.pais = direction.country;


                $("#modal").modal("show"); // Find how do this with js vanilla
            },

            updateDirection() {
                this.errors = [];

                let data = new FormData();
                data.append('nombreUbicacion', this.formDirections.nombreUbicacion);
                data.append('colonia', this.formDirections.colonia);
                data.append('calle', this.formDirections.calle);
                data.append('numeroExterior', this.formDirections.numeroExterior);
                data.append('numeroInterior', this.formDirections.numeroInterior);
                data.append('referencia', this.formDirections.referencia);
                data.append('codigoPostal', this.formDirections.códigoPostal);
                data.append('ciudad', this.formDirections.ciudad);
                data.append('estado', this.formDirections.estado);

                axios.post('api/UserAdress/' + this.edit_id + '/update', data)
                    .then(response => {

                        this.$swal(
                            '¡Dirección guardada!',
                            'exito al actualizar',
                            'success'
                        );
                        this.cleanFormDirections();
                        $("#modal").modal("hide");
                        this.getDirectionsData();

                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });
            },

            cancelUpdateDirection() {
                this.formBilling.nameOrSocialReason = '';
                this.formBilling.rfc = '';
                this.edit_id = 0;

                this.edit_billing = false;

            },

            destroyDirection(direction) {
                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('/api/UserAdress/' + direction.id)
                            .then(response => {

                                console.log(response);

                                this.$swal(
                                    'Eliminado!',
                                    'Datos eliminados',
                                    'success'
                                );
                                this.getDirectionsData();
                            })
                            .catch(error => {

                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })
            },

            cleanFormDirections() {
                this.edit_direction = false;
                this.errors = [];

                this.formDirections = {
                    nombreUbicacion: '',
                    calle: '',
                    numeroExterior: '',
                    numeroInterior: '',
                    referencia: '',
                    colonia: '',
                    códigoPostal: '',
                    ciudad: '',
                    estado: '',
                    pais: 'México',
                }
            },

            //estates

            getStates() {
                axios.get('/api/estates')
                    .then(response => {
                        this.states = response.data.success;
                    })
                    .catch(error => console.log(error));
            }

        }
    }
</script>

<style scoped>

    .error {
        color: #f5593d;
    }

    .toUpperCase {
        text-transform: uppercase;
    }

    hr {
        margin: 30px;
    }

       /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
