<template>

</template>

<script>

    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';

    Vue.use(VueSweetalert2);

    export default {
        name: "alerts",
        props: ['message','type'],
        mounted() {

            if(this.type === 'success'){
                localStorage.removeItem('ShoppingCart');

                Event.$emit('UpdateShoppingCart');

            }

            this.$swal(this.message.replace (/_/g, " "),'',this.type);
        }
    }
</script>

<style scoped>

</style>
