<template>
    <div class="shop-page-area pt-30 pb-65">
        <div class="container">
            <div class="row flex-row-reverse ">


                <div class="col-lg-9">

                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="grid-list-options nav view-mode">
                                <a class="active" href="#product-grid" data-view="product-grid" data-toggle="tab"><i
                                    class="fa fa-th"></i></a>
                                <a href="#product-list" data-view="product-list" data-toggle="tab"><i
                                    class="fa fa-list-ul"></i></a>
                            </div>
                        </div>


                        <div class="header-search-2">

                            <form class="header-search-form mt-2" action="#">
                                <input
                                    v-model="searchText"
                                    v-on:keyup="search()"
                                    type="text"
                                    placeholder="Buscar">
                                <button @click.prevent="search()">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </form>


                        </div>

                    </div>

                    <div class="tab-content jump">

                        <div class="tab-pane active pb-20" id="product-grid">
                            <div class="row">

                                <div v-for="Product in Products"
                                     class="col-xl-4 col-lg-5 col-md-5 col-sm-6 col-12 mt-5 mb-3">
                                    <div class="devita-product-2 mrg-inherit" style="height: auto;">
                                        <div class="product-img">
                                            <div class="product-img-slider">
                                                <a href="#" @click.prevent="redirectToProduct(Product.key)">
                                                    <img class="img_from_server imgProduct"
                                                         :src="Product.image"
                                                         onerror="this.src='img/NoImageAvailable.png'">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col">
                                            <div class="gridview">
                                                <div class="product-content text-center">
                                                    <span class="text-lowercase">{{ Product.group }}</span>
                                                    <br>
                                                    <strong>
                                                        <a :href="'/tienda/' + Product.key" @click.prevent="redirectToProduct(Product.key)">
                                                            {{Product.manufacturer_code}}
                                                            <br>
                                                            {{Product.brand}}</a>

                                                    </strong>
                                                    <div class="product-price-wrapper">
                                                        <span>{{Product.price | currency}}- {{Product.currency}}</span>
                                                    </div>
                                                </div>
                                                <div class="product-action-wrapper-2 text-center">

                                                    <p>{{Product.description}}.</p>
                                                    <div class="product-action">

                                                        <a class="action-cart"
                                                           title="ver"
                                                           :href="'/tienda/' + Product.key" @click.prevent="redirectToProduct(Product.key)">
                                                            Ver
                                                        </a>

                                                        <a v-if="!Product.isInCart"
                                                           class="action-cart"
                                                           title="agregar"
                                                           href="#"
                                                           @click.prevent="addToCart(Product.key)">
                                                            Añadir al carrito
                                                        </a>

                                                        <a v-if="Product.isInCart"
                                                           class="action-cart"
                                                           title="Quitar del carrito"
                                                           href="#"
                                                           @click.prevent="removeCart(Product.key)">
                                                            Quitar del carrito
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>


                            </div>
                        </div>


                        <div class="tab-pane mb-5" id="product-list">
                            <div class="row">

                                <div class="col-lg-12" v-for="Product in Products">
                                    <div class="product-list-wrapper shop-border mb-40 pb-40">
                                        <div class="product-img">
                                            <div class="product-img-slider">
                                                <a href="#" @click.prevent="redirectToProduct(Product.key)">
                                                    <img
                                                        :src="Product.image"
                                                        style="height: 200px;object-fit: scale-down;"
                                                        onerror="this.src='img/NoImageAvailable.png'"
                                                        alt=""></a>
                                            </div>
                                        </div>
                                        <div class="product-list-content">
                                            <span>{{ Product.group }}</span> -
                                            <strong>{{Product.brand}}</strong>
                                            <h4><a href="#" @click.prevent="redirectToProduct(Product.key)">{{Product.manufacturer_code}}</a>
                                            </h4>
                                            <div class="product-price-wrapper">
                                                <span>{{Product.price | currency}}- {{Product.currency}}</span>
                                                <!--<span class="product-price-old">$000.00 </span>-->
                                            </div>
                                            <p>{{Product.description}}.</p>
                                            <div class="product-action">


                                                <a class="action-cart"
                                                   title="ver"
                                                   href="#" @click.prevent="redirectToProduct(Product.key)">
                                                    Ver
                                                </a>


                                                <a v-if="!Product.isInCart"
                                                   class="action-cart"
                                                   title="agregar"
                                                   href="#"
                                                   @click.prevent="addToCart(Product.key)">
                                                    Añadir al carrito
                                                </a>

                                                <a v-if="Product.isInCart"
                                                   class="action-cart"
                                                   title="Quitar del carrito"
                                                   href="#"
                                                   @click.prevent="removeCart(Product.key)">
                                                    Quitar del carrito
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="pagination-total-pages mt-5">


                            <div class="pagination-style">


                                <ul>
                                    <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]">
                                        <a class="prev-next prev"
                                           href="#"
                                           @click.prevent="changePage(paginate.current_page - 1)">
                                            <i class="ion-ios-arrow-left"></i>Antes</a>
                                    </li>

                                    <li v-for="page in pagesNumber">
                                        <a
                                            @click.prevent="changePage(page)"
                                            v-bind:class="[ page === isActived ?'active' : '' ]"
                                            href="#">{{ page }}</a>
                                    </li>

                                    <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]">
                                        <a href="#"
                                           @click.prevent="changePage(paginate.current_page + 1)"
                                           class="prev-next next">Siguiente
                                            <i class="ion-ios-arrow-right"></i></a>
                                    </li>

                                </ul>
                            </div>
                            <div class="total-pages">

                                <p>Mostrando {{paginate.from }} - {{ paginate.to }} de {{ paginate.total }}
                                    resultados </p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="shop-sidebar-wrapper gray-bg-7 mrg-top-md mrg-top-sm">
                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">Por Grupo</h4>
                            <div class="product-show shorting-style mt-4">
                                <select v-model="searchGroup" @change="search(paginate.current_page)">
                                    <option value="">Buscar por grupo</option>
                                    <option v-for="Group in Groups" :value="Group.group">{{Group.group}}</option>
                                </select>

                            </div>
                        </div>

                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Por Marca</h4>
                            <div class="product-show shorting-style mt-4">
                                <select v-model="searchBrand" @change="search(paginate.current_page)">
                                    <option value="">Buscar por marca</option>
                                    <option v-for="Brand in Brands" :value="Brand">{{Brand}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Precio Filtro De</h4>
                            <div class="price_filter mt-25">
                                <span>$00.00 hasta $10,000.00 ó mayor</span>
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <input type="text" id="amount" name="price"/>
                                        <input hidden type="number" id="min" name="price"/>
                                        <input hidden type="number" id="max" name="price"/>

                                        <a class="btn btn-dark text-white rounded-top"
                                           @click="search(paginate.current_page)">Filtrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Etiquetas Populares</h4>
                            <div class="shop-tags mt-25">
                                <ul>
                                    <li><a href="#" @click.prevent="searchByLabels('GAMES')">Gamer</a></li>
                                    <li><a href="#" @click.prevent="searchByLabels('CAMARAS')">Cámaras</a></li>
                                    <li><a href="#" @click.prevent="searchByLabels('IMPRESORAS')">Impresoras</a></li>
                                    <li><a href="#" @click.prevent="searchByLabels('HERRAMIENTAS')">Herramientas</a>
                                    </li>
                                    <li><a href="#" @click.prevent="searchByLabels('MONITORES')">Monitores</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div v-if="searching" class="background-gray"></div>
        <div v-if="searching" id="loader"></div>

    </div>


</template>

<script>

    import VueCurrencyFilter from 'vue-currency-filter'
    import Vue from 'vue'

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: "catalogue",
        mounted() {
            this.loadProducts();
            this.selectGroups();
            this.selectBrands();
        },
        data() {
            return {
                Products: [],
                Brands: [],
                Groups: [],
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                offset: 2,
                searchText: '',
                searchBrand: '',
                searchGroup: '',
                searching: false
            }
        },
        computed: {
            isActived: function () {
                return this.paginate.current_page;
            },
            pagesNumber: function () {

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;

                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);

                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }
                return pageArray;
            },

        },
        methods: {


            loadProducts(page) {

                this.errors = [];

                axios.get('/api/product?page=' + page)
                    .then(response => {

                        response = response.data.success;

                        this.Products = response.data;
                        this.Products.inCart = false;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                        this.updateshoppingCart();

                    })
                    .catch(error => console.log(error));
            },

            search(page) {

                this.searching = true;

                axios.post('api/product/search?page=' + page,
                    {
                        searchText: this.searchText,
                        brand: this.searchBrand,
                        group: this.searchGroup,
                        min: document.getElementById('min').value,
                        max: document.getElementById('max').value,
                    }
                )
                    .then(response => {


                        response = response.data.success;

                        this.Products = response.data;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                        this.updateshoppingCart();

                        this.searching = false;

                    })
                    .catch(error => {
                        this.searching = false;
                    });

            },

            searchByLabels(label, page) {

                this.searchText = label === "GAMES" ? 'gamer' : '';
                this.searchBrand = '';
                this.searchGroup = label !== "GAMES" ? label : '';

                this.search(page);
            },

            updateshoppingCart() {
                // agrega una propiadad para saber si esta en el carrito este producto
                let items = JSON.parse(localStorage['ShoppingCart']);

                this.Products.forEach((productList) => {

                    productList.isInCart = false;

                    let found = items.find(function (productCart) {
                        return productCart.item === productList.key;
                    });

                    if (found != null) {
                        productList.isInCart = true;
                    }

                });
            },

            changePage: function (page) { // no editar

                this.paginate.current_page = page;
                this.search(page);
            },

            addToCart(item) {

                //No dejar que se repita si ya esta en tu carrito
                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found == null) {
                    items.push({item: item, quantity: 1});
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                this.search(this.paginate.current_page);

            },

            removeCart(item) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.search(this.paginate.current_page);

            },

            selectBrands() {
                axios.get('api/product/brands')
                    .then(response => {
                        response = response.data.success;
                        this.Brands = response.marca;

                    })
                    .catch(error => console.log(error));
            },

            selectGroups() {
                axios.get('api/ExtraCharge/groups')
                    .then(response => {
                        this.Groups = response.data.success;


                    })
                    .catch(error => console.log(error));
            },

            redirectToProduct($key) {
                window.location.href = '/tienda/' + $key;
            }


        }
    }

</script>

<style scoped>


    .imgProduct {
        height: 100px;
        object-fit: scale-down;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
