<template>
    <div class="product-details pt-65 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-img">
                        <div class="zoompro-border zoompro-span">

                            <img class="zoompro imgProduct" :src="product.image"
                                 :data-zoom-image="product.image" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-content">
                        <h4>{{ product.manufacturer_code}} - {{product.group}} - {{ product.brand}}</h4>

                        <span>{{ product.price | currency}} {{product.currency}}</span>
                        <div class="in-stock">
                            <p>Disponible: <span>{{ product.available }}</span></p>
                        </div>
                        <label>Todos los productos incluyen IVA.</label>
                        <p>{{ product.description }}</p>
                        <p>{{ product.bussiness_card }}</p>
                        <p>{{ product.data_sheet }}</p>


                        <div class="quality-add-to-cart">
                            <div class="quality">


                                <NumberInputSpinner
                                    :min="1"
                                    :max="product.available"
                                    :buttonClass="'buttonSpinner'"
                                    :integerOnly="true"
                                    v-model="quantityProduct"
                                />

                            </div>
                            <div class="product-action">

                                <a class="action-cart"
                                   href="#"
                                   @click.prevent="updateQuantityItem(product.key)">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>

                                <a v-if="!product.isInCart"
                                   class="action-cart"
                                   href="#"
                                   @click.prevent="addToCart(product.key)">
                                    Añadir al carrito
                                </a>

                                <a v-if="product.isInCart"
                                   class="action-cart"
                                   href="#"
                                   @click.prevent="removeCart(product.key)">
                                    Quitar del carrito
                                </a>

                                <a
                                    class="action-cart"
                                    href="#"
                                    @click.prevent="buy(product.key)"
                                >
                                    Comprar ahora
                                </a>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>

    </div>
</template>


<script>

    import VueCurrencyFilter from 'vue-currency-filter'
    import Vue from 'vue'
    import NumberInputSpinner from 'vue-number-input-spinner'

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: "ProductDetail",
        props: ['keyitem'],

        components: {
            NumberInputSpinner,
        },
        data() {
            return {
                loading: false,
                found: false,
                quantityProduct: 1,
                product: {},
            }
        },
        created() {
            this.loading = true;

            Event.$on('UpdateShoppingCart', () => {
                this.loadProduct();
            });

            this.loadProduct();

        },
        methods: {
            loadProduct() {

                this.loading = true;

                axios.post('api/product/findByKey',
                    {
                        key: this.keyitem
                    })
                    .then(response => {
                        this.product = response.data.success;

                        this.updateshoppingCart();
                        this.loading = false;
                    })
                    .catch(error => {
                        console.log(error)

                        //   window.location.href = '/tienda';
                    });

            },

            updateshoppingCart() {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];


                this.product.isInCart = false;

                let found = items.find((productCart) => {

                    this.product.quantityProduct = productCart.quantity;

                    return productCart.item === this.product.key;
                });

                if (found != null) {
                    this.product.isInCart = true;

                    this.quantityProduct = this.product.quantityProduct;
                }

            },

            updateQuantityItem(item) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                items.forEach((element) => {
                    if (element.item === item) {
                        element.quantity = this.quantityProduct;
                    }
                });

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.loadProduct();

            },

            addToCart(item) {


                //No dejar que se repita si ya esta en tu carrito
                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found == null) {

                    items.push({item: item, quantity: this.quantityProduct});
                    localStorage.setItem("ShoppingCart", JSON.stringify(items));
                    Event.$emit('UpdateShoppingCart');
                    this.updateshoppingCart();

                } else {
                    this.updateQuantityItem(item);
                }
            },

            removeCart(item) {


                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.updateshoppingCart();

            },

            buy(item) {

                this.addToCart(item);

                location.href = "/carrito";

            }

        }
    }
</script>

<style>

    .quality-add-to-cart .product-action > a.action-cart {
        padding: 11px;
    }


    .buttonSpinner {
        border-radius: 3px;
        background: #518eff;
        -webkit-appearance: none;
        transition: background 0.5s ease;
        border: 0;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: 20px;
        height: 40px;
        margin: 0;
        width: 40px;
    }

    .buttonSpinner:hover {

        background: #355e8d;

    }


    .imgProduct {
        height: auto;
        object-fit: scale-down;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;


    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
