<template>

    <div class="cart-main-area pt-60 pb-65">
        <div class="container">
            <h3 class="page-title">Sus artículos en el carrito</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre Del Producto</th>
                                    <th>Precio Unitario</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr v-for="product in products">
                                    <td class="product-thumbnail">
                                        <a href="#" @click.prevent="redirectToProduct(product.key)">
                                            <img class="img_from_server imgProduct"
                                                 :src="product.image"
                                                 onerror="this.src='img/NoImageAvailable.png'">
                                        </a>

                                    </td>
                                    <td class="product-name">
                                        <a href="#" @click.prevent="redirectToProduct(product.key)">
                                            CODIGO: {{ product.key }}
                                            <br>
                                            {{ product.description }}
                                            <br>
                                            MARCA : {{ product.brand }}
                                        </a></td>
                                    <td class="product-price-cart">
                                        <span class="amount">{{ product.price | currency }}</span>
                                    </td>
                                    <td class="product-quantity">

                                        <div class="pro-dec-cart">

                                            <input
                                                class="cart-plus-minus-box"
                                                type="number"
                                                @change="updateQuantityItem(product.key , $event.target.value)"
                                                :value="product.shoppingCart.quantity"
                                                min="1"
                                                :max="product.available">
                                        </div>

                                    </td>
                                    <td class="product-subtotal">{{product.shoppingCart.subtotal | currency}}</td>
                                    <td class="product-remove">
                                        <a href="#"
                                           @click.prevent="removeCart(product.key)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>

                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="/tienda">Regresar a la tienda</a>
                                    </div>
                                    <div class="cart-clear">
                                        <a href="#" @click.prevent="loadcart()">Actualizar carrito</a>

                                        <a href="#" @click.prevent="cleanCart()">Vaciar carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">


                        <div class="col-lg-7 col-md-7">


                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Carrito de compras</h4>
                                </div>
                                <h5>Cantidad de productos <span>{{ countItems }}</span></h5>

                                <h5 class="grand-totall-title">
                                    Costo de envió : <span>{{ shipping_price | currency}}</span>
                                </h5>


                                <h5 class="grand-totall-title">Iva : <span>{{ iva | currency}}</span></h5>
                                <h5 class="grand-totall-title">Subtotal : <span> {{subtotal | currency}}</span>
                                </h5>
                                <h4 class="grand-totall-title"> Total <span>{{ total | currency }}</span></h4>

                                <a v-if="countItems !== 0" href="pago"  >Confirmar Compra</a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>

    </div>

</template>


<script>

    import VueCurrencyFilter from 'vue-currency-filter'
    import Vue from 'vue'

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: "cartDetail",

        mounted() {

            Event.$on('UpdateShoppingCart', () => {
                this.loadcart();
            });

            this.loadcart();
        },
        data() {
            return {
                total: 0.0,
                subtotal: 0.0,
                iva: 0.0,
                shipping_price: 0.0,
                countItems: 0,
                products: [],
                loading: false

            }
        },

        methods: {

            loadcart() {
                if (localStorage['ShoppingCart'] != null) {

                    this.loading = true;


                    axios.post('api/product/quoteCart',
                        {
                            ShopCart: localStorage['ShoppingCart']
                        })

                        .then(response => {

                            response = response.data.success;

                            this.shipping_price = response.shipping_price;
                            this.iva = response.iva;
                            this.subtotal = response.subtotal;
                            this.total = response.total;
                            this.countItems = response.quantityItem;
                            this.products = response.Product;

                            this.loading = false;


                        })
                        .catch(error => console.log(error));
                }
            },

            removeCart(item) {


                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }


                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.loadcart();

            },

            updateQuantityItem(item, quantity) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                items.forEach((element) => {
                    if (element.item === item) {
                        element.quantity = quantity;
                    }
                });

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.loadcart();

            },

            cleanCart() {
                localStorage.removeItem('ShoppingCart');

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];
                items.forEach((element) => {
                    if (element.item === item) {
                        element.quantity = quantity;
                    }
                });

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.loadcart();

            },

            redirectToProduct($key) {
                window.location.href = '/tienda/' + $key;
            }


        }
    }
</script>

<style scoped>

    hr{
        margin: 10px;
    }


    .imgProduct {
        height: 80px;
        width: 80px;
        object-fit: scale-down;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;


    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
