<template>

    <div class="checkout-area pb-45 pt-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="checkout-wrapper">
                        <div id="faq" class="panel-group">

                            <!-- INVITADO :   comprar como invitado o registro -->
                            <div v-if="!this.isAuthenticated()" class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>1.</span>

                                        <a href="#"
                                           @click.prevent="activeForm('guest', 'form_1')">
                                            Compra como invitado o regístrate
                                        </a>
                                    </h5>
                                </div>
                                <div id="guest-1" class="collapse"
                                     :class="forms.guest.form_1 ? 'show' : '' ">
                                    <div class="panel-body">
                                        <div class="row p-4">

                                            <div class="col-lg-4">


                                                <h4 class="cart-bottom-title section-bg-white">
                                                    Login
                                                </h4>

                                                <p>¿Ya tienes una cuenta? </p>


                                                <div class="cart-clear">
                                                    <a class="w-100 text-center" href="login">Iniciar
                                                        sesión</a>
                                                </div>


                                            </div>

                                            <div style="display: table;height:150px;"
                                                 class="col-lg-1 text-center">
                                                <label style="display: table-cell;
	                                                              vertical-align: middle;" class="">ó</label>
                                            </div>

                                            <div class="col-lg-4">

                                                <h4 class="cart-bottom-title section-bg-white">
                                                    Comprar como invitado
                                                </h4>

                                                <p>¡Compre sin tener que registrarse!</p>


                                                <div class="cart-clear">
                                                    <a
                                                        class="w-100 text-center mb-4"
                                                        href="#"
                                                        @click.prevent="activeForm('guest', 'form_2')">Invitado</a>
                                                </div>

                                            </div>

                                            <div class="col-lg-3">
                                                <h6><strong>¡REGISTRESE Y AHORRARE TIEMPO!</strong></h6>
                                                <div class="register-us-2">
                                                    <p>Regístrese con nosotros para más comodidad.</p>
                                                    <p>Rápido y pago fácil.</p>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- INVITADO : Información de contacto-->
                            <div v-if="!this.isAuthenticated()" class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>{{this.isAuthenticated() ? '1': '2'}}.</span>
                                        <a href="#"
                                           @click.prevent="activeForm('guest', 'form_2')">
                                            Información de contacto
                                        </a>
                                    </h5>
                                </div>
                                <div id="guest-2" class="collapse"
                                     :class="forms.guest.form_2 ? 'show' : '' ">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Nombre completo:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.fullName"
                                                            placeholder="Nombre completo"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.nombre"
                                                              class="error">¡{{errors.nombre[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Correo Electrónico:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.email"
                                                            placeholder="Correo Electrónico"
                                                            class="form-control"
                                                            type="email">
                                                        <span v-if="errors.correo"
                                                              class="error">¡{{errors.correo[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Teléfono:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.telephone"
                                                            placeholder="Teléfono"
                                                            class="form-control"
                                                            type="text"
                                                            @keypress="onlyNumber"
                                                            maxlength="12">
                                                        <span v-if="errors.telefono" class="error">¡{{errors.telefono[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Celular:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.cellphone"
                                                            placeholder="Celular"
                                                            class="form-control"
                                                            type="text"
                                                            @keypress="onlyNumber"
                                                            maxlength="12">
                                                        <span v-if="errors.celular" class="error">¡{{errors.celular[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 mb-2">
                                                    <h6><strong>Datos de facturación</strong></h6>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>RFC:</label>
                                                        <input
                                                            v-model="forms.guest.inputs.rfc"
                                                            placeholder="RFC"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.rfc"
                                                              class="error">¡{{errors.rfc[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Razón social:</label>
                                                        <input
                                                            v-model="forms.guest.inputs.nameOrSocialReason"
                                                            placeholder="Razón socia"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.razonSocial" class="error">¡{{errors.razonSocial[0]}}!</span>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <a href="#"
                                                       @click.prevent="activeForm('guest', 'form_1')">
                                                        <i class="ion-arrow-up-c"></i>
                                                        Regresar
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INVITADO : Información de envio-->
                            <div v-if="!this.isAuthenticated()" class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>3.</span>
                                        <a href="#"
                                           @click.prevent="activeForm('guest', 'form_3')">
                                            información de envío
                                        </a>
                                    </h5>
                                </div>
                                <div id="guest-3" class="collapse"
                                     :class="forms.guest.form_3 ? 'show' : '' ">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <div class="row">

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Colonia:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.colony"
                                                            placeholder="Colonia"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.colonia" class="error">¡{{errors.colonia[0]}}!</span>

                                                    </div>
                                                </div>


                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Calle:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.street"
                                                            placeholder="Calle"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.calle"
                                                              class="error">¡{{errors.calle[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Numero Exterior:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.numberExternal"
                                                            placeholder="Numero Exterior"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.numeroExterior" class="error">¡{{errors.numeroExterior[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Numero Interno:</label>
                                                        <input
                                                            v-model="forms.guest.inputs.numberInternal"
                                                            placeholder="Numero Interno"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.numeroInterior" class="error">¡{{errors.numeroInterior[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Código Postal:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.cp"
                                                            placeholder="Código Postal"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.codigoPostal" class="error">¡{{errors.codigoPostal[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Ciudad:*</label>
                                                        <input
                                                            v-model="forms.guest.inputs.city"
                                                            placeholder="Ciudad"
                                                            class="form-control"
                                                            type="text">
                                                        <span v-if="errors.ciudad"
                                                              class="error">¡{{errors.ciudad[0]}}!</span>

                                                    </div>


                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Estado/Provincia:*</label>
                                                        <select v-model="forms.guest.inputs.state"
                                                                class="custom-select">
                                                            <option selected value="">Seleccióna ..</option>
                                                            <option
                                                                v-for="state in states"
                                                                :value="state.id">{{ state.name}}
                                                            </option>
                                                        </select>
                                                        <span v-if="errors.estado"
                                                              class="error">¡{{errors.estado[0]}}!</span>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-select">
                                                        <label>País:</label>
                                                        <input
                                                            v-model="forms.guest.inputs.country"
                                                            placeholder="Pais"
                                                            class="form-control"
                                                            type="text"
                                                            readonly>
                                                        <span v-if="errors.pais"
                                                              class="error">¡{{errors.pais[0]}}!</span>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-select">
                                                        <label>Referencias:*</label>
                                                        <textarea
                                                            v-model="forms.guest.inputs.references"
                                                            class="form-control"
                                                            rows="2"
                                                            placeholder="Referencias">
                                                                </textarea>
                                                        <span v-if="errors.referencia" class="error">¡{{errors.referencia[0]}}!</span>

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <a href="#"
                                                       @click.prevent="activeForm('guest', 'form_2')">
                                                        <i class="ion-arrow-up-c"></i>
                                                        Regresar
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- AUTH : Direccion de envio-->
                            <div v-if="this.isAuthenticated()" class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span>1.</span>

                                        <a href="#"
                                           @click.prevent="activeForm('auth', 'form_1')">
                                            Información de envío
                                        </a>
                                    </h5>
                                </div>

                                <div class="collapse"
                                     :class="forms.auth.form_1 ? 'show' : '' ">

                                    <div class="panel-body">
                                        <div class="shipping-information-wrapper">

                                            <h5>Seleccióne una dirección de envio.</h5>

                                            <div class="billing-select">
                                                <select v-model="forms.auth.inputs.address_id" @change="loadAdress()"
                                                        class="email s-email s-wid">
                                                    <option selected value="">Seleccióne Su Dirección</option>
                                                    <option
                                                        v-for="direction in directions"
                                                        :value="direction.id"

                                                    >
                                                        {{ direction.name +" - "+ direction.colony +" "+
                                                        direction.street +" "+ direction.external_number }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="shipping-info-2 mt-3"
                                                 v-if="this.forms.auth.inputs.address.name !== ''">
                                                <span><strong>Nombre: </strong>{{this.forms.auth.inputs.address.name}}</span>
                                                <span><strong>Colonia: </strong>{{this.forms.auth.inputs.address.colony}}</span>
                                                <span><strong>calle: </strong>{{this.forms.auth.inputs.address.street + " #" +this.forms.auth.inputs.address.external_number + " int. " +this.forms.auth.inputs.address.internal_number }}</span>
                                                <span><strong>Codigo postal: </strong>{{this.forms.auth.inputs.cp}}</span>
                                                <span><strong>Región: </strong>{{this.forms.auth.inputs.address.city+ "," +this.forms.auth.inputs.address.state+ ","+this.forms.auth.inputs.address.country }}</span>
                                                <span><strong>Referencia: </strong>{{this.forms.auth.inputs.address.reference}}</span>

                                            </div>

                                            <div class="billing-back-btn">

                                                <div class="billing-btn">
                                                    <a href="datos_envio">Agregar otro</a>
                                                </div>

                                                <div class="billing-btn"
                                                     v-if="this.forms.auth.inputs.address.name !== ''">
                                                    <button @click="activeForm('auth', 'form_2')">Siguente</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- AUTH :informacion de facturacion -->
                            <div v-if="this.isAuthenticated()" class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span>2.</span>

                                        <a href="#"
                                           @click.prevent="activeForm('auth', 'form_2')">
                                            Informacion de facturación
                                        </a>
                                    </h5>
                                </div>
                                <div class="collapse"
                                     :class="forms.auth.form_2 ? 'show' : '' ">
                                    <div class="panel-body">
                                        <div class="shipping-information-wrapper">

                                            <h5>Información de facturación.</h5>

                                            <div class="billing-select">
                                                <select v-model="forms.auth.inputs.billing_id" @change="loadBilling()"
                                                        class="email s-email s-wid">
                                                    <option selected value="">Seleccióne Su Dirección</option>
                                                    <option
                                                        v-for="billing in billings"
                                                        :value="billing.id"
                                                    >
                                                        {{ billing.RFC +" - "+ billing.nameOrSocialReason }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="shipping-info-2 mt-3"
                                                 v-if=" this.forms.auth.inputs.billing.rfc !== ''">
                                                <span><strong>RFC: </strong>{{this.forms.auth.inputs.billing.rfc}}</span>
                                                <span><strong>Razón Social: </strong>{{this.forms.auth.inputs.billing.nameOrSocialReason}}</span>

                                            </div>


                                            <div class="billing-back-btn">
                                                <div class="billing-btn">
                                                    <a href="datos_envio">Agregar otro</a>
                                                </div>
                                                <div class="billing-btn"
                                                     v-if=" this.forms.auth.inputs.billing.rfc !== ''">
                                                    <button @click="activeForm('', 'confirm_form')">Siguiente</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- confirmar compra -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <span>{{this.isAuthenticated ? '3' : '4'}}.</span>
                                        <a href="#"
                                           @click.prevent="activeForm('', 'confirm_form')">
                                            Confirmar Pedido
                                        </a>
                                    </h5>
                                </div>


                                <div id="confirm_form" class="collapse"
                                     :class="forms.confirm_form ? 'show' : '' ">
                                    <div class="panel-body">
                                        <div class="order-review-wrapper">
                                            <div class="order-review">

                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th class="width-1">Nombre Del Producto</th>
                                                            <th class="width-2">Precio</th>
                                                            <th class="width-3">Cant.</th>
                                                            <th class="width-4">Subtotal</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="product in cart.products">
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p>{{ product.description }}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-price">
                                                                    <p>{{ product.price | currency }}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-qty">
                                                                    <p>{{product.shoppingCart.quantity}}</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-subtotal">
                                                                    <p>{{product.shoppingCart.subtotal | currency}}</p>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                        <tfoot>


                                                        <tr>
                                                            <td colspan="3"><strong>Subtotal:</strong></td>
                                                            <td colspan="1">{{ cart.subtotal | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3"><strong>Iva:</strong></td>
                                                            <td colspan="1">{{ cart.iva | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3"><strong>Total:</strong></td>
                                                            <td colspan="1">{{ cart.total | currency}}</td>
                                                        </tr>

                                                        <tr class="tr-f">
                                                            <td colspan="3"><strong>Envío:</strong></td>
                                                            <td colspan="1">{{ cart.shipping_price | currency}}</td>
                                                        </tr>

                                                        </tfoot>
                                                    </table>

                                                </div>


                                                <div class="billing-back-btn">
                                                        <span>
                                                            ¿Se olvidó de un producto?
                                                            <a href="carrito">Edita Tu Carrito.</a>

                                                        </span>
                                                    <div class="billing-btn">
                                                        <button @click="payWithPaypal()">Pagar con
                                                            <i class="fa fa-paypal"
                                                               aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>
        <notifications group="Notification" position="bottom right"></notifications>


    </div>


</template>

<script>

    import VueCurrencyFilter from 'vue-currency-filter'
    import Vue from 'vue'
    import Notifications from 'vue-notification';

    Vue.use(Notifications);

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: "checkout",
        props: ['auth', 'csrf_token'],
        data() {
            return {
                errors: [],
                states: [],
                directions: [],
                billings: [],
                loading: false,

                cart: {
                    total: 0.0,
                    subtotal: 0.0,
                    iva: 0.0,
                    shipping_price: 0.0,
                    countItems: 0,
                    products: [],
                },
                forms: {
                    confirm_form: false,
                    guest: {
                        form_1: true,
                        form_2: false,
                        form_3: false,

                        inputs: {
                            fullName: '',
                            email: '',
                            telephone: '',
                            cellphone: '',
                            rfc: '',
                            nameOrSocialReason: '',
                            colony: '',
                            street: '',
                            numberExternal: '',
                            numberInternal: '',
                            cp: '',
                            city: '',
                            state: '',
                            country: 'Mexico',
                            references: '',
                        }
                    },
                    auth: {
                        form_1: true,
                        form_2: false,
                        inputs: {
                            address_id: '',
                            address: {
                                name: '',
                                street: '',
                                external_number: '',
                                internal_number: '',
                                colony: '',
                                cp: '',
                                city: '',
                                state: '',
                                country: 'México',
                                reference: '',
                            },
                            billing_id: '',
                            billing: {
                                rfc: '',
                                nameOrSocialReason: '',
                            },
                        }
                    }
                },

                item_qty: localStorage.getItem('ShoppingCart') || [],
            }
        },
        created() {
            if (this.isAuthenticated()) {

                this.getDirectionsData();
                this.getBillingsData();
            }
        },
        mounted() {

            Event.$on('UpdateShoppingCart', () => {

                this.loadcart();
            });

            this.loadcart();


            this.getStates();
        },
        methods: {
            isAuthenticated() {
                return this.auth !== "";
            },

            loadcart() {
                if (localStorage['ShoppingCart'] != null) {

                    this.loading = true;


                    axios.post('api/product/quoteCart',
                        {
                            ShopCart: localStorage['ShoppingCart']
                        })

                        .then(response => {

                            response = response.data.success;

                            this.cart.shipping_price = response.shipping_price;
                            this.cart.iva = response.iva;
                            this.cart.subtotal = response.subtotal;
                            this.cart.total = response.total;
                            this.cart.countItems = response.quantityItem;
                            this.cart.products = response.Product;

                            this.loading = false;


                        })
                        .catch(error => console.log(error));
                }
            },

            activeForm(type, form) {

                if (type === 'guest') {

                    switch (form) {

                        case 'form_1':

                            this.forms.guest.form_2 = false;
                            this.forms.guest.form_3 = false;
                            this.forms.confirm_form = false;

                            this.forms.guest.form_1 = true;

                            break;
                        case 'form_2':

                            this.forms.guest.form_1 = false;
                            this.forms.guest.form_3 = false;
                            this.forms.confirm_form = false;

                            this.forms.guest.form_2 = true;

                            break;
                        case 'form_3':


                            this.forms.guest.form_1 = false;
                            this.forms.guest.form_2 = false;
                            this.forms.confirm_form = false;

                            this.forms.guest.form_3 = true;

                            break;
                        case 'confirm_form':

                            this.forms.guest.form_1 = false;
                            this.forms.guest.form_2 = false;
                            this.forms.guest.form_3 = false;

                            this.forms.confirm_form = true;

                            break;

                    }

                } else {

                    switch (form) {

                        case 'form_1':

                            this.forms.auth.form_2 = false;
                            this.forms.confirm_form = false;

                            this.forms.auth.form_1 = true;

                            break;
                        case 'form_2':


                            this.forms.auth.form_1 = false;
                            this.forms.confirm_form = false;

                            this.forms.auth.form_2 = true;

                            break;

                        case 'confirm_form':

                            this.forms.auth.form_1 = false;
                            this.forms.auth.form_2 = false;

                            this.forms.confirm_form = true;

                            break;

                    }
                }

            },

            payWithPaypal() {

                this.loading = true;

                let formData = new FormData();

                formData.append("item_qty", this.item_qty);
                formData.append("_token", this.csrf_token);

                if (!this.isAuthenticated()) {

                    formData.append("nombre", this.forms.guest.inputs.fullName);
                    formData.append("correo", this.forms.guest.inputs.email);
                    formData.append("telefono", this.forms.guest.inputs.telephone);
                    formData.append("celular", this.forms.guest.inputs.cellphone);

                    formData.append("rfc", this.forms.guest.inputs.rfc);
                    formData.append("razonSocial", this.forms.guest.inputs.nameOrSocialReason);

                    formData.append("colonia", this.forms.guest.inputs.colony);
                    formData.append("calle", this.forms.guest.inputs.street);
                    formData.append("numeroExterior", this.forms.guest.inputs.numberExternal);
                    formData.append("numeroInterior", this.forms.guest.inputs.numberInternal);
                    formData.append("codigoPostal", this.forms.guest.inputs.cp);
                    formData.append("ciudad", this.forms.guest.inputs.city);
                    formData.append("estado", this.forms.guest.inputs.state);
                    formData.append("pais", this.forms.guest.inputs.country);
                    formData.append("referencia", this.forms.guest.inputs.references);

                } else {

                    formData.append("billing_id", this.forms.auth.inputs.billing_id);
                    formData.append("address_id", this.forms.auth.inputs.address_id);

                }

                axios.post('/payment', formData)
                    .then(response => {
                        localStorage.setItem('order', response.data.success.order_id);
                        window.location.href = response.data.success.url;
                    })
                    .catch(error => {


                        this.loading = false;
                        console.log(error.response.data.error);

                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;

                            let msg = '';

                            if (this.errors.nombre || this.errors.correo || this.errors.telefono || this.errors.celular || this.errors.rfc || this.errors.razonSocial) {
                                msg = 'Favor de revisar la Información de contacto';
                            } else {
                                msg = 'Favor de revisar la Información de envío';

                            }

                            this.$notify({
                                group: 'Notification',
                                title: 'Información incompleta',
                                text: msg,
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });

                        }


                        console.log(error.response.data.error);

                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: 'Revise el formulario',
                                text: error.response.data.error,
                                position: 'bottom right',
                                speed: 1000,
                                type: 'warning'
                            });


                        }

                    });
            },

            onlyNumber(evt) {
                evt = (evt) ? evt : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },

            //estates
            getStates() {
                axios.get('/api/estates')
                    .then(response => {
                        this.states = response.data.success;
                    })
                    .catch(error => console.log(error));
            },

            getDirectionsData() {

                if (this.isAuthenticated()) {

                    axios.get('/api/UserAdress/' + JSON.parse(this.auth).id)
                        .then(response => {
                            this.directions = response.data.success;
                        })
                        .catch(error => console.log(error));
                }

            },

            loadAdress() {


                let address = this.directions.find((element) => {
                    return element.id === this.forms.auth.inputs.address_id;
                });

                if (address) {
                    this.forms.auth.inputs.address.name = address.name;
                    this.forms.auth.inputs.address.street = address.street;
                    this.forms.auth.inputs.address.external_number = address.external_number;
                    this.forms.auth.inputs.address.internal_number = address.internal_number;
                    this.forms.auth.inputs.address.colony = address.colony;
                    this.forms.auth.inputs.address.cp = address.cp;
                    this.forms.auth.inputs.address.city = address.city;
                    this.forms.auth.inputs.address.state = address.state.name;
                    this.forms.auth.inputs.address.country = address.country;
                    this.forms.auth.inputs.address.reference = address.reference;

                } else {

                    this.forms.auth.inputs.address.name = '';
                    this.forms.auth.inputs.address.street = '';
                    this.forms.auth.inputs.address.external_number = '';
                    this.forms.auth.inputs.address.internal_number = '';
                    this.forms.auth.inputs.address.colony = '';
                    this.forms.auth.inputs.address.cp = '';
                    this.forms.auth.inputs.address.city = '';
                    this.forms.auth.inputs.address.state = '';
                    this.forms.auth.inputs.address.country = '';
                    this.forms.auth.inputs.address.reference = '';
                }
            },


            //billings data
            getBillingsData() {
                axios.get('/api/UserBilling/' + JSON.parse(this.auth).id)
                    .then(response => {
                        this.billings = response.data.success;
                    })
                    .catch(error => console.log(error));
            },
            loadBilling() {

                let billing = this.billings.find((element) => {
                    return element.id === this.forms.auth.inputs.billing_id;
                });

                if (billing) {
                    this.forms.auth.inputs.billing.rfc = billing.RFC;
                    this.forms.auth.inputs.billing.nameOrSocialReason = billing.nameOrSocialReason;

                } else {
                    this.forms.auth.inputs.billing.rfc = '';
                    this.forms.auth.inputs.billing.nameOrSocialReason = '';
                }
            },

        }
    }

</script>

<style scoped>

    .error {
        color: #f5593d;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }


</style>
