<template>
    <div class="header-contact-search-wrapper f-right">
        <div class="header-cart middle-same ">
            <button class="icon-cart borderCart">
                <i class="pe-7s-cart cart-bag"></i>
                <i class="ion-chevron-down cart-down"></i>
                <span class="count-style">{{ this.countItems }}</span>
            </button>
            <div class="shopping-cart-content scroolShoppingCart">

                <div class="mb-4">
                    <a class="btn-style btn-hover" href="/carrito">ver carrito</a>
                </div>

                <ul>
                    <li class="single-shopping-cart" v-for="product in products">
                        <div class="shopping-cart-img">

                            <a href="#" @click.prevent="redirectToProduct(product.key)">
                                <img class="img_from_server imgProduct"
                                     :src="product.image"
                                     onerror="this.src='img/NoImageAvailable.png'">
                            </a>

                        </div>
                        <div class="shopping-cart-title truncateText">
                            <h4>
                                <a href="#" @click.prevent="redirectToProduct(product.key)">
                                    {{ product.group }}<br>
                                    {{ product.manufacturer_code }} </a></h4>
                            <h6>cantidad: {{ product.shoppingCart.quantity}}</h6>
                        </div>
                        <div class="shopping-cart-delete">
                            <a href="#"
                               @click.prevent="removeCart(product.key)">
                                <i class="ion-android-close"></i>
                            </a>
                        </div>
                    </li>
                </ul>

                <!--
                <div class="shopping-cart-total">
                    <h4>Iva : <span>${{ this.iva}}</span></h4>
                    <h4>Subtotal : <span>$ {{this.subtotal}}</span></h4>
                    <h4>Total : <span class="shop-total">${{ this.total }}</span></h4>
                </div> -->

            </div>
        </div>
    </div>
</template>


<script>


    export default {
        name: "shoppingCart",

        mounted() {


            Event.$on('UpdateShoppingCart', () => {
                this.loadcart();
            });

            //Limpia el carrito si hay una compra aprobada

            if (localStorage['order'] != null) {

                axios.post('api/order/checkStatus',
                    {
                        id: localStorage['order']
                    })
                    .then(response => {
                        response = response.data.success;

                        if (response === 'approved') {

                            localStorage.removeItem('order');
                            localStorage.removeItem('ShoppingCart');

                        }

                        this.loadcart();

                    })
                    .catch(error => console.log(error));

            }else{
                this.loadcart();
            }



        },
        data() {
            return {
                total: 0.0,
                subtotal: 0.0,
                iva: 0.0,
                countItems: 0,
                products: []

            }
        },

        methods: {
            loadcart() {


                if (localStorage['ShoppingCart'] != null) {


                    axios.post('api/product/quoteCart',
                        {
                            ShopCart: localStorage['ShoppingCart']
                        })

                        .then(response => {

                            response = response.data.success;

                            this.countItems = response.quantityItem;
                            this.products = response.Product;

                        })
                        .catch(error => console.log(error));
                }
            },

            removeCart(item) {


                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let found = items.find(function (element) {
                    return element.item === item;
                });

                if (found != null) {


                    items.splice(items.indexOf(found), 1);
                }


                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                Event.$emit('UpdateShoppingCart');
                this.loadcart();
            },

            redirectToProduct($key) {
                window.location.href = '/tienda/' + $key;
            }

        }
    }
</script>

<style scoped>

    .borderCart {
        border: 2px solid #000000 !important;
    }


    .truncateText {
        width: 50%;
        font-size: 24pt;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .imgProduct {
        height: 50px;
        width: 50px;
        object-fit: scale-down;
    }

    .scroolShoppingCart {
        max-height: 400px;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #F90;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }


</style>
