<template>


    <div>

        <div class="row">

            <div class="col-md-12 m-2">
                <label>&nbsp;</label>
                <button class="btn btn-primary"
                        @click="finalizeOrder">
                    Finalizar compra
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 m-2">
                <label>&nbsp;</label>
                <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#addShipping-modal">
                    {{
                    order.shipping.tracking_number === 'Sin agregar' ? ' Agregar': 'Actualizar'
                    }} datos de envió

                </button>

                <!-- addShipping Modal -->
                <div class="modal fade" id="addShipping-modal" tabindex="-1" role="dialog"
                     aria-labelledby="addShipping-modal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">

                                    {{
                                    order.shipping.tracking_number === 'Sin agregar' ? ' Agregar': 'Actualizar'
                                    }} datos de envió:

                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Número de rastreo:</label>
                                    <div class="col-sm-8">
                                        <input
                                            v-model="form.shipping.tracking_number"
                                            type="text"
                                            class="form-control"
                                            placeholder="Número de rastreo">
                                        <span v-if="errors.numero_rastreo"
                                              class="error">¡{{errors.numero_rastreo[0]}}!</span>

                                    </div>

                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Paquetería:</label>
                                    <div class="col-sm-8">
                                        <input v-model="form.shipping.company_shipping"
                                               type="text"
                                               class="form-control"
                                               placeholder="Paquetería">
                                        <span v-if="errors.compania" class="error">¡{{errors.compania[0]}}!</span>
                                    </div>


                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">URL de rastreo:</label>
                                    <div class="col-sm-8">
                                        <input
                                            v-model="form.shipping.url_tracking"
                                            type="text"
                                            class="form-control"
                                            placeholder="URL de rastreo">
                                        <span v-if="errors.url_rastreo" class="error">¡{{errors.url_rastreo[0]}}!</span>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" @click="setShipping">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <br>


        <div class="row">
            <div class="col-md-12 mb-3">
                <h3>Información del pedido</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estatus:</label>
                    <input v-model="order.status"
                           type="text"
                           class="form-control"
                           placeholder="Status" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>N° Pedido CVA:</label>
                    <input v-model="order.order_cva"
                           type="text"
                           class="form-control"
                           placeholder="N° Pedido CVA" disabled>
                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label>Fecha de orden:</label>
                    <input v-model="order.created_at"
                           type="text"
                           class="form-control"
                           placeholder="Fecha de cración" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Ultima actualización:</label>
                    <input v-model="order.updated_at"
                           type="text"
                           class="form-control"
                           placeholder="Ultima actualización" disabled>
                </div>
            </div>


        </div>
        <hr>

        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Datos de cliente</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input v-model="order.user.name"
                           type="text"
                           class="form-control"
                           placeholder="Nombre" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input v-model="order.user.email"
                           type="email"
                           class="form-control"
                           placeholder="Correo electrónico" disabled>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Celular</label>
                    <input v-model="order.user.cellphone"
                           type="cellphone"
                           class="form-control"
                           placeholder="Celular" disabled>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Teléfono Fijo</label>
                    <input v-model="order.user.telephone"
                           type="telephone"
                           class="form-control"
                           placeholder="Teléfono Fijo" disabled>

                </div>
            </div>

        </div>
        <hr>


        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Datos de envió</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Costo de envió:</label>
                    <input
                        :value="order.shipping.shippingPrice | currency"
                        type="text"
                        class="form-control"
                        placeholder="Método de pago" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número de rastreo:</label>
                    <input
                        :value="order.shipping.tracking_number"
                        type="text"
                        class="form-control"
                        placeholder="Número de guía" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Paquetería:</label>
                    <input v-model="order.shipping.company_shipping"
                           type="text"
                           class="form-control"
                           placeholder="Paquetería" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Url de rastreo:</label>
                    <input v-model="order.shipping.url_traking"
                           type="text"
                           class="form-control"
                           placeholder="Url de rastreo" disabled>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Dirección</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Colonia:</label>
                    <input v-model="order.direction.colony"
                           type="text"
                           class="form-control"
                           placeholder="Colonia" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Calle:</label>
                    <input v-model="order.direction.street"
                           type="text"
                           class="form-control"
                           placeholder="Calle" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número exterior:</label>
                    <input v-model="order.direction.external_number"
                           type="text"
                           class="form-control"
                           placeholder="Número exterior" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número interior:</label>
                    <input v-model="order.direction.internal_number"
                           type="text"
                           class="form-control"
                           placeholder="Número interior" disabled>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label>CP:</label>
                    <input v-model="order.direction.cp"
                           type="text"
                           class="form-control"
                           placeholder="CP" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Ciudad:</label>
                    <input v-model="order.direction.city"
                           type="text"
                           class="form-control"
                           placeholder="Ciudad" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado:</label>
                    <input v-model="order.direction.state.name"
                           type="text"
                           class="form-control"
                           placeholder="Estado" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>País:</label>
                    <input v-model="order.direction.country"
                           type="text"
                           class="form-control"
                           placeholder="País" disabled>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Referencias:</label>
                    <input v-model="order.direction.reference"
                           type="text"
                           class="form-control"
                           placeholder="Referencias" disabled>
                </div>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Productos</h3>
            </div>
        </div>
        <div class="row">


            <div class="panel-body col-md-12">
                <div class="order-review-wrapper">
                    <div class="order-review">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="width-1">Nombre Del Producto</th>
                                    <th class="width-2">Precio</th>
                                    <th class="width-3">Cant.</th>
                                    <th class="width-4">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="product in cart.products">
                                    <td>
                                        <div class="o-pro-dec">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-price">
                                            <p>{{ product.price | currency }}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-qty">
                                            <p>{{product.shoppingCart.quantity}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="o-pro-subtotal">
                                            <p>{{product.shoppingCart.subtotal | currency}}</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <hr>


        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Datos de cobro</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label>Total:</label>
                    <input :value="order.total | currency"
                           type="text"
                           class="form-control"
                           placeholder="Total" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Subtotal:</label>
                    <input :value="order.subtotal | currency"
                           type="text"
                           class="form-control"
                           placeholder="Subtotal" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>IVA:</label>
                    <input :value="order.vat | currency"
                           type="text"
                           class="form-control"
                           placeholder="IVA" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Metodo de pago:</label>
                    <input v-model="order.payment_method.method"
                           type="text"
                           class="form-control"
                           placeholder="Metodo de pago" disabled>
                </div>
            </div>

        </div>
        <hr>

        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>Datos de facturación</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>RFC:</label>
                    <input v-model="order.billing.RFC"
                           type="text"
                           class="form-control"
                           placeholder="RFC" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Razón Social:</label>
                    <input v-model="order.billing.nameOrSocialReason"
                           type="text"
                           class="form-control"
                           placeholder="Razón Social" disabled>
                </div>
            </div>

        </div>
        <hr>

        <div v-if="loading" class="background-gray"></div>
        <div v-if="loading" id="loader"></div>
    </div>


</template>


<script>


    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';
    import Notifications from 'vue-notification';
    import VueCurrencyFilter from 'vue-currency-filter';

    Vue.use(VueSweetalert2);

    Vue.use(Notifications);

    Vue.use(VueCurrencyFilter, {
        symbol: '$',
        thousandsSeparator: ',',
        fractionCount: 2,
        fractionSeparator: '.',
        symbolPosition: 'front',
        symbolSpacing: true
    });

    export default {
        name: 'show-orders',
        props: ['order_'],

        data() {
            return {
                errors: [],
                loading: false,
                order: {},
                cart: {
                    total: 0.0,
                    subtotal: 0.0,
                    iva: 0.0,
                    shipping_price: 0.0,
                    countItems: 0,
                    products: [],
                },
                form: {
                    shipping: {
                        tracking_number: '',
                        company_shipping: '',
                        url_tracking: '',
                    }
                }
            }
        },
        created() {


            this.order = JSON.parse(this.order_);
            this.loadcart();

            if (this.order.shipping.tracking_number === 0) {
                this.order.shipping.tracking_number = 'Sin agregar';
            }

            this.form.shipping.tracking_number = this.order.shipping.tracking_number;
            this.form.shipping.company_shipping = this.order.shipping.company_shipping;
            this.form.shipping.url_tracking = this.order.shipping.url_traking;


        },

        methods: {

            loadcart() {

                this.loading = true;


                axios.post('api/product/quoteCart',
                    {
                        ShopCart: JSON.stringify(this.order.item_qty)
                    })

                    .then(response => {

                        response = response.data.success;

                        this.cart.shipping_price = response.shipping_price;
                        this.cart.iva = response.iva;
                        this.cart.subtotal = response.subtotal;
                        this.cart.total = response.total;
                        this.cart.countItems = response.quantityItem;
                        this.cart.products = response.Product;

                        this.loading = false;

                    })
                    .catch(error => console.log(error));
            },

            finalizeOrder() {
                this.errors = [];

                this.loading = true;

                let data = new FormData();
                data.append('order_id', this.order.id);

                axios.post('api/order/finishOrder', data)
                    .then(response => {

                        this.loading = false;

                        this.order.status = 'Pedido finalizado';

                        this.$swal(
                            'Orden Finalizada!',
                            'Exito al finalizar la orden',
                            'success'
                        );


                    })
                    .catch(error => {

                        this.loading = false;

                        this.$notify({
                            group: 'Notification',
                            title: 'Error al actualizar',
                            text: 'informe al administrador',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });

                    });
            },

            setShipping() {
                this.errors = [];

                this.loading = true;

                let data = new FormData();
                data.append('numero_rastreo', this.form.shipping.tracking_number);
                data.append('compania', this.form.shipping.company_shipping);
                data.append('url_rastreo', this.form.shipping.url_tracking);
                data.append('order_id', this.order.id);


                axios.post('api/order/setShipping', data)
                    .then(response => {

                        this.loading = false;


                        this.order.shipping.tracking_number = this.form.shipping.tracking_number;
                        this.order.shipping.company_shipping = this.form.shipping.company_shipping;
                        this.order.shipping.url_traking = this.form.shipping.url_tracking;


                        this.$swal(
                            'Orden Actualizada!',
                            'El comprador ha sido notificado',
                            'success'
                        );


                    })
                    .catch(error => {

                        this.loading = false;

                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;


                        }
                        if (error.response.status === 400) {
                            $('#addShipping-modal').modal('hide');

                            this.$notify({
                                group: 'Notification',
                                title: 'Error al actualizar',
                                text: 'informe al administrador',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });
                        }
                    });
            },
        },


    }
</script>


<style scoped>

    hr {
        margin: 1px;
        margin-bottom: 35px;
    }


    .error {
        color: #f5593d;
    }


    /* Center the loader */
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1050;
        margin: -50px 0 0 -50px;
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2b82b5;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }


    .background-gray {
        position: fixed;
        opacity: .3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

</style>
