<template>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">

                <div class="col-sm-7">
                    <h2 class="mb-2">Detalle <b> pedidos</b></h2>
                </div>


                <div class="col-sm-2">

                    <select @change="filterStatusEvent($event)" class="form-control">
                        <option value="" >Filtro por estatus</option>
                        <option value="" >Todos</option>
                        <option value="pending">Pendiente</option>
                        <option value="approved">Aprobado</option>
                        <option value="cancel">Cancelado</option>
                        <option value="rejected">Rechazado</option>
                        <option value="fail">Fallido</option>
                        <option value="purchased_cva">En espera de envio</option>
                        <option value="order_sent">Pedido enviado</option>
                        <option value="Finalize">Pedido finalizado</option>
                    </select>
                </div>

                <div class="col-sm-3">

                    <div class="search-box">

                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input
                            v-model="searchText"
                            v-on:keyup="search()"
                            type="text"
                            class="form-control"
                            placeholder="Buscar">
                    </div>
                </div>
            </div>
        </div>

        <SortedTable class="table table-striped table-hover" :values="orders">
            <thead>
            <tr>
                <th scope="col">
                    <SortLink name="id">Folio</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="order_cva">N° Orden CVA</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="payment">Método de pago</SortLink>
                </th>

                <th scope="col">
                    <SortLink name="status">Estatus</SortLink>
                </th>
                <th scope="col">
                    <SortLink name="create_at">Creado el</SortLink>
                </th>

                <th>Acciones</th>
            </tr>
            </thead>
            <tbody slot="body" slot-scope="sort">
            <tr v-for="row in sort.values" :key="row.id">

                <td>{{ row.id }}</td>
                <td>{{ row.order_cva }}</td>
                <td>{{ row.payment }}</td>
                <td>{{ row.status}}</td>
                <td>{{ row.created_at }}</td>

                <td>
                    <a href="#"
                       @click.prevent="update(row.id)"
                       class="settings" title="Settings"
                       data-toggle="tooltip">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </SortedTable>


        <div class="clearfix">

            <div class="hint-text">Mostrando
                <b>{{ orders.length }}</b> de <b>{{ paginate.total }}</b> registros
            </div>


            <ul class="pagination">

                <li v-bind:class="[paginate.current_page < paginate.last_page ?'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page - 1)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li v-for="page in pagesNumber"
                    v-bind:class="[ page === isActived ?'active' : '' ]"
                    class="page-item">
                    <a href="#"
                       @click.prevent="changePage(page)"
                       class="page-link">{{ page }}</a>
                </li>

                <li v-bind:class="[paginate.current_page > 1 ? 'disabled' : '' ]"
                    class="page-item">
                    <a href="#" @click.prevent="changePage(paginate.current_page + 1)"
                       class="page-link">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>


        </div>

        <notifications group="Notification" position="bottom right"></notifications>
    </div>
</template>


<script>
    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import SortedTablePlugin from "vue-sorted-table";
    import VueSweetalert2 from 'vue-sweetalert2';

    Vue.use(VueSweetalert2);
    Vue.use(Notifications);
    Vue.use(SortedTablePlugin);

    export default {

        name: 'table_orders',

        data() {
            return {
                orders: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                offset: 4,
                searchText: '',
                searching: false,
                status: '',
            }
        },

        created: function () {
            this.search();
        },

        computed: {
            isActived: function () { // no editar
                return this.paginate.current_page;
            },
            pagesNumber: function () { // no editar

                if (!this.paginate.to) {
                    return [];
                }

                let from = this.paginate.current_page - this.offset;
                if (from < 1) {
                    from = 1
                }

                let to = from + (this.offset * 2);
                if (to >= this.paginate.last_page) {
                    to = this.paginate.last_page;
                }

                let pageArray = [];
                while (from <= to) {
                    pageArray.push(from);
                    from++;
                }

                return pageArray;
            }

        },

        methods: {

            filterStatusEvent(event){

              this.status = event.target.value;

                this.search()
            },

            search(page) {

                this.searching = true;

                axios.post('api/orders/search?page=' + page,
                    {
                        search: this.searchText,
                        filterStatus: this.status
                    }
                )
                    .then(response => {


                        this.orders = [];

                        response = response.data.success;

                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;


                        response.data.forEach((order) => {

                            let orderObj = {
                                id: order.id,
                                name: order.user.name,
                                email: order.user.email,
                                payment: order.payment_method.method,
                                order_cva: order.order_cva,
                                status: order.status,
                                created_at: order.created_at
                            };


                            this.orders.push(orderObj);
                        });


                    })
                    .catch(error => {
                        this.$notify({
                            group: 'Notification',
                            title: 'Usuario no encontrado',
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    });

            },

            update(id) {
                window.location.href = '/dashboard/pedidos/' + id;
            },

            changePage: function (page) { // no editar

                this.paginate.current_page = page;
                this.search(page);
            },


        }
    }

</script>


<style>
    a {
        color: #566787;
    }
</style>

